{% extends "main.html" %}
{% block mediaCSS %}
    <link rel="stylesheet" href="/application/css/about.css">
{% endblock %}
{% block content %}

<div class="container">
	<h1 class="h-slim">Về chúng tôi</h1>
</div>
<div class="banner" style="background-color: #F08C35;">
	<div class="container banner-content" style="background-image: url('//lh6.ggpht.com/0mYjovvuPFiOOOwdSfF1fWvcb5BUQOINog7ep3JkZZB3k-FMH63j-AFWAT9MLExgikLpmFqavqCWmMKizQ=s1170?w=2340&amp;h=1100')">
		<div class="row banner-content">
			<div class="col-md-12 banner-message">
				<div class="row row-gap-huge">
					<div class="col-md-6 col-md-offset-3">
						<div class="text-center">
							<img alt="Udacity U icon" src="//lh4.ggpht.com/DTQcETnOhFwdsSNBCU7m8wA2-OwsDQY5VXUBK0OzuVUlF-RsyEupsXW3g1yVrFgxU44jhCuRuAXq4uZYWMg=s75">
							<h2 class="banner-title text-light">Nhiệm vụ của chúng tôi</h2>
							<p class="text-large text-light">
								Giúp đỡ mỗi học sinh trong mỗi trường phải có cơ hội để học lập trình máy
                                tính. Chúng tôi tin rằng khoa học máy tính nên là một phần của chương trình giảng dạy
                                trong giáo dục, cùng với khoa học khác, công nghệ, kỹ thuật, và toán học các khóa học
                                như sinh học, vật lý, hóa học và đại số.
							</p>
						</div>
					</div>
				</div>
				<div class="row row-gap-huge"></div>
			</div>
		</div>
	</div>
</div>

<div class="section">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h2 class="h-slim-top">Chúng tôi tin rằng</h2>
				<p class="text-large">
					Giáo dục không còn là một sự kiện một lần nhưng một kinh nghiệm suốt đời.
                    Giáo dục nên nghe ít thụ động (không có bài giảng dài) và đang làm tích cực hơn.
                    Giáo dục nên trao quyền cho học sinh thành công không chỉ ở trường mà trong cuộc sống.
				</p>
				<p class="text-large">
					Chúng tôi đang tái phát minh giáo dục cho thế kỷ 21 bằng cách thu hẹp khoảng cách giữa các kỹ năng thực tế, giáo dục có liên quan, và việc làm.
                    Sinh viên của chúng tôi sẽ được thông thạo công nghệ mới, toán học hiện đại, khoa học.
                    Họ sẽ có những kỹ năng sáng tạo để học, suy nghĩ và làm.
				</p>
			</div>
			<div class="col-md-6">
				<img class="img-responsive image-responsive-centered" src="//lh4.ggpht.com/4cFVaoEnmIF_P8w5-QPUgOturJnY7INY51j3t85eaDL_iC9jX-nU_Bc0-qyHzTlGa7hNnmVm5-uVAdCxDzR-=s555" alt="Believe">
			</div>
		</div>
	</div>
</div>
<!--
<div class="banner" style="background-color: #F08C35;">
	<div class="container banner-content" style="background-image: url('//lh6.ggpht.com/eo-G0Rrv3kDFjvMIYCWTO30XVJb4WvoxCuR9hQhbOSp5c8HTgW2ZpZvR5sHaPzcz7ZqgGXCbrpVsEV4k3lEm=s1170#w=2340&amp;h=1200')">
		<div class="row banner-content">
			<div class="col-md-12 banner-message">
				<div class="row row-gap-huge">
					<div class="col-md-8 col-md-offset-2">
						<div class="text-center">
							<img alt="growth" src="//lh4.ggpht.com/2qkrLEETPLRdWnQHdsVb4uoMlnR3zLTs0m_Rt3stPBAdwSaIYc-ndbItAu4jv3wjqDbymqJcMH1sDlgIjGM=s45">
							<h2 class="banner-title text-light h-slim-top">Our Story</h2>
						</div>
						<p class="text-large text-light">
							Udacity was born out of a Stanford University experiment in which Sebastian Thrun and Peter Norvig offered their
							"Introduction to Artificial Intelligence" course online to anyone, for free. Over 160,000 students in more than 190
							countries enrolled and not much later, Udacity was born. Now we're a growing team of educators and engineers on a
							mission to change the future of education by bridging the gap between real-world skills, relevant education, and
							employment.
						</p>
					</div>
				</div>
				<div class="row row-gap-huge"></div>
			</div>
		</div>
	</div>
</div>

<div class="section section-standout">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<div class="row">
					<div class="text-center">
						<img alt="mountain" src="//lh4.ggpht.com/SqGuWvuI3Rg4f86e1ZtmJ_s-um9kiS-gRsj620E1KZ-R0NbzLS7Ykr1PS_JMjPr8MyUclqN7gWt9nlmAMpI=s45">
						<h2 class="h-slim-top">Leadership Team</h2>
					</div>
					<hr class="hr-slim">
				</div>

				<div class="row row-gap-medium">
					<div class="col-md-2 text-center">
						<img src="//lh6.ggpht.com/EPN17OPcZ4V4hKUI-qcpLewoYH9DnD9dTwoQ8Xy9gqx8JZ0rHvmjXL3NcBJiCrBFss5gX-c0XLyKwogD0Nk=s100#w=600&amp;h=600" alt="Sebastian Thrun" class="img-circle">
					</div>
					<div class="col-md-10">
						<h3 class="h-slim">Sebastian Thrun</h3>
						<h4 class="h-slim">Co-Founder, CEO</h4>
						<p>
							Sebastian has set his sights on democratizing higher education. Co-founder and CEO of Udacity, Sebastian is also a
							Research Professor at Stanford University and a Google Fellow, as well as the inventor of the autonomous car and
							project lead on Google Glass. Sebastian has been named the 
							<a href="http://www.fastcompany.com/most-creative-people/2011/sebastian-thrun-google" title="Sebastian Thrun | Fast Company 2011 | Fast Company">5th Most Creative Person in Business</a> (Fast Company),
							among the <a href="http://money.cnn.com/galleries/2010/technology/1007/gallery.smartest_people_tech.fortune/29.html" title="The smartest people in tech - Academic runner-up: Sebastian Thrun (29) - FORTUNE">50 Smartest People in Tech</a>
							(Fortune), and highlighted in 50 Best Inventions of 2010 (Time).
						</p>
					</div>
				</div>

				<div class="row row-gap-medium">
					<div class="col-md-2 text-center">
						<img src="//lh5.ggpht.com/vDm0T-EGaRtDVM0eRUcyD8I2mOmaMpV6K8tvLdIsQdtyleOJhDIwOeBJOy8Vm0AaTZuJ0S5ZhdkOxKTDvA=s100#w=600&amp;h=600" alt="Vish Makhijani" class="img-circle">
					</div>
					<div class="col-md-10">
						<h3 class="h-slim">Vish Makhijani</h3>
						<h4 class="h-slim">President, COO</h4>
						<p>
							Vish believes the time is now to make higher education more effective, accessible and useful. Prior to Udacity, Vish
							led high growth organizations at companies like Zynga, Yandex and Yahoo. Vish is a dog lover and aspires to become a
							scratch golfer but is a realist.
						</p>
					</div>
				</div>

				<div class="row row-gap-medium">
					<div class="col-md-2 text-center">
						<img src="//lh4.ggpht.com/zZqVyhnZ2yXGp9Nvw6B1JCGPY-HWDO-8wz-6O7onTroUBQqbVuPPI-mjjFkjaS6UBHZpimwHHPoRhkwe2g=s100#w=600&amp;h=600" alt="Francois Dufour" class="img-circle">
					</div>
					<div class="col-md-10">
						<h3 class="h-slim">Francois Dufour</h3>
						<h4 class="h-slim">VP Marketing</h4>
						<p>
							Francois loves connecting people to essential services and content that help them become more knowledgeable and
							successful. He believes bringing world-class education to as many people as possible worldwide will create
							incredible economic opportunity and that Udacity is ideally positioned to achieve this. He also believes in
							learning by doing and in learning from the best do-ers. Prior to Udacity, Francois led Marketing for Talent
							Solutions at LinkedIn and worked in marketing for Yahoo! Messenger, Groups, Mail, and Mobile.
						</p>
					</div>
				</div>

				<div class="row row-gap-medium">
					<div class="col-md-2 text-center">
						<img src="//lh4.ggpht.com/hgjq5ndkCZXBd6lCIMvnOQNw02xj-BtVFDPi_yGeKj7fDfPlYrk3hKafu2GMReRc2Cqdl0RETMGtyte0Nlk=s100#w=600&amp;h=600" alt="Nitin Sharma" class="img-circle">
					</div>
					<div class="col-md-10">
						<h3 class="h-slim">Nitin Sharma</h3>
						<h4 class="h-slim">VP Engineering and Data Science</h4>
						<p>
							Nitin is passionate about using technology and data to make the online learning experience fun, engaging and effective so
							that millions around the world can achieve their potential. Prior to Udacity, Nitin worked on using massive data at scale
							to improve user experience at Groupon, Google and Yahoo.
						</p>
					</div>
				</div>

				<div class="row row-gap-medium">
					<div class="col-md-2 text-center">
						<img src="//lh3.ggpht.com/tth3Sfr7ks59XxqF5WAy25IhMkhuFvpyk_eZhCvIIW1GpMYaDJ2eMF1GSj02E9ben4YHg3PvdScWGpUZRw=s100#w=600&amp;h=600" alt="Clarissa Shen" class="img-circle">
					</div>
					<div class="col-md-10">
						<h3 class="h-slim">Clarissa Shen</h3>
						<h4 class="h-slim">VP Business Development</h4>
						<p>
							Clarissa is an optimist about technology's impact on education, having co-founded a K-12 start-up, and led digital change
							at Apollo Group. In her past life she led a contemporary dance company and was in management strategy with Monitor Group.
							After discovering CS101, Clarissa had so much fun learning to code that she wanted her kids to have that same opportunity
							in the future—so she joined Udacity.
						</p>
					</div>
				</div>

				<div class="row row-gap-medium">
					<div class="col-md-2 text-center">
						<img src="//lh5.ggpht.com/RiUukN3VGSJ_o6618SVFvDHvsJoPj_JOUpjodQRJL4skPhDWOngSIeL42kKpmEeJzNSBZi6Ord_LGJhHzdgB=s100#w=600&amp;h=600" alt="Brent Tworetzky" class="img-circle">
					</div>
					<div class="col-md-10">
						<h3 class="h-slim">Brent Tworetzky</h3>
						<h4 class="h-slim">VP Product Management</h4>
						<p>
							Brent is dedicated to advancing learning through new technologies. Prior to Udacity, Brent was a business and product
							leader at Chegg, Mint, and WebMD. He holds several patents around digital learning environments and is an active mentor
							to NewSchools Venture Fund, Imagine K12, and several education startups.
						</p>
					</div>
				</div>

				<div class="row row-gap-medium">
					<div class="col-md-2 text-center">
						<img src="//lh5.ggpht.com/PjDlDhz5M_YGNR5-90VQ3BKFadukEjvN8u_jQlceVTUFQZREUHNNFO1Wl4hSQ7xhpfVC9PE9cWvMjR5orQ=s100#w=600&amp;h=600" alt="Hsiao-Lu Lee" class="img-circle">
					</div>
					<div class="col-md-10">
						<h3 class="h-slim">Hsiao-Lu Lee</h3>
						<h4 class="h-slim">Director of Student Services</h4>
						<p>
							Hsiao-Lu is an avid learner and educator on a mission to make personalized education and mentoring more accessible for students everywhere.
							Her experience before Udacity ranges from teaching in person and online, mentoring other teachers, translating online courseware, modeling
							human diseases, to developing live cell microscopy. She now leads the Udacity mentoring team to help students reach their full potential
							by advancing their learning and their careers.
						</p><p>
					</p></div>
				</div>

				<div class="row row-gap-medium">
					<div class="col-md-2 text-center">
						<img src="//lh6.ggpht.com/QNhM_pjBihJM12ZbUmgj265jc00iz3dcyzBvmiH2WXBaNPknQjR3_lEbYVR3t4OmYJgWQtlOPOLEjWay1DU=s100#w=600&amp;h=600" alt="Kathleen Mullaney" class="img-circle">
					</div>
					<div class="col-md-10">
						<h3 class="h-slim">Kathleen Mullaney</h3>
						<h4 class="h-slim">Director of Content Development</h4>
						<p>
							Motivated by $30K in student loans, Kathleen joined Udacity in 2011 to help make education more affordable and useful to students
							all over the world. She now leads the largest team at Udacity, working with instructors, video producers and education experts to
							create amazing content. Before Udacity, she worked at Google, analyzing geo and user data.
						</p><p>
					</p></div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="section">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<div class="text-center">
					<img src="//lh6.ggpht.com/VYnzEWmKcCJLf6t24OQRK_4Z8I-mQk5dKf9RtvsZIxOXy3XbxnqwsXofP1fOagbcPGnfnyOzNSjXjUp_vg=s45" alt="light bulb">
					<h2 class="h-slim-top">Advisory Board</h2>
				</div>
				<h3>Carl Bass</h3>
				<p>
					Carl is president and chief executive officer of Autodesk, Inc., a maker of professional 3D design software and consumer applications,
					and was a co-founder of Ithaca Software, which commercialized HOOPS, a 3D graphics system.
				</p>

				<h3>William Bennett</h3>
				<p>
					"Bill" is former United States Secretary of Education from 1985 to 1988. He also held the post of Director of the Office of National Drug
					Control Policy under George H. W. Bush. In 2000, he co-founded K12, a for-profit online education corporation which is publicly traded.
				</p>

				<h3>Steve Blank</h3>
				<p>
					Steve is a seasoned Silicon Valley entrepreneur. Translation: he has failed and—more often—succeeded, in a 21-year career
					building 8 Valley startups, including several with major IPO's. Along the way, he's learned an incredible amount, and has spent the
					last decade sharing what he's learned with entrepreneurs all over the world, including here at <a href="/course/ep245">Udacity in EP245</a>. 
				</p>

				<h3>Cathy Davidson</h3>
				<p>
					Cathy is a Professor of English at Duke University since 1996 and was Vice Provost for Interdisciplinary Studies at Duke University from
					1998 to 2006. In 2010, President Obama nominated her to a six-year term on the National Council on the Humanities. She currently serves
					on the Board of Advisors to the John D. and Catherine T. MacArthur Foundation "Digital Media and Learning" initiative.
				</p>

				<h3>Peter Levine</h3>
				<p>
					Peter is partner at Andreessen Horowitz and a veteran executive from leading enterprise software companies. He is a lecturer at Stanford
					Graduate School of Business and has also taught at MIT's Sloan School of Management. As an avid ice climber and mountaineer, he compares
					his mountaineering expeditions to building a company.
				</p>

				<h3>Laurene Powell Jobs</h3>
				<p>
					Ms. Laurene Powell Jobs is founder and chair of Emerson Collective, which works with social entrepreneurs and organizations to promote
					improved education, immigration reform, social justice and conservation. Ms. Powell Jobs also serves as president of the board of College
					Track, an after-school program she co-founded in 1997 to prepare underserved high school students for success in college.
				</p>

				<h3>George Zachary</h3>
				<p>
					George is partner at Charles River Ventures with 20+ years of operating and investing experience in computing and consumer technology. At
					CRV, he focuses on building consumer internet and infrastructure companies. He is on the board of Stanford SSE, Stanford's StartX, and
					is an advisor to the X PRIZE Foundation.
				</p>
			</div>
		</div>
	</div>
</div>
-->
{% endblock %}