{% extends "main.html" %}
{% block mediaCSS %}
    <link rel="stylesheet" href="/application/css/contact.css">
{% endblock %}
{% block content %}
    <div class="container" data-toc-page-toc-generator="" data-toc-selector="h2">
	<div class="row">
		<div class="col-md-12">
			<span class="h1">
				Liên hệ
			</span>
		</div>
	</div>
	<div class="row row-gap-small">
		<div class="col-md-3">
			<ul class="nav nav-pills nav-stacked nav nav-pills nav-stacked ng-isolate-scope">
                <li><a href="#section-0-1" class="ng-binding">Công ty, hệ thống giáo dục, trường học</a></li>
                <li><a href="#section-0-3" class="ng-binding">Chia sẽ câu chuyện của bạn</a></li>
                <li><a href="#section-0-4" class="ng-binding">Kĩ thuật</a></li>
                <li><a href="#section-0-6" class="ng-binding">Phản hồi</a></li>
            </ul>
		</div>
		<div class="col-md-9">






<div class="row">

</div>

<div class="row">
	<div class="col-md-12">

		<h2 id="section-0-1">Công ty, hệ thống giáo dục, trường học</h2>
		<p>
			Nếu bạn là công ty, trường học, hoặc hệ thống giáo dục đã sử dụng (hoặc thích thú) những khóa học tại Easylearncode, hãy liên hệ chúng tôi
			<a href="http://fb.com/easylearncode">http://fb.com/easylearncode</a>.
		</p>

		<h2 id="section-0-3">Chia sẻ câu chuyện của bạn</h2>
		<p>Hãy chia sẽ về những gì easylearncode đã giúp bạn học lập trình tại <a href="http://fb.com/easylearncode">http://fb.com/easylearncode</a>..</p>

		<h2 id="section-0-4">Kĩ thuật</h2>
		<p>
			Nếu bạn gặp những khó khăn về kĩ thuật, hoặc phát hiện bug trong hệ thống, hãy gửi email cho chúng tôi
			<a href="mailto:nampnq@gmail.com">nampnq@gmail.com</a>.
		</p>

		<h2 id="section-0-6">Phản hồi</h2>
		<p>
			Bạn có những ý tưởng, muốn đóng góp để hệ thống hoàn thiện hơn, hãy gửi những ý tưởng của bạn tại <a href="https://easylearncode.uservoice.com/">dịch vụ phản hồi khách hàng</a>.
		</p>

	</div>
</div>

		</div>
	</div>
</div>
{% endblock %}

