{% extends "main.html" %}
{% block mediaCSS %}
    <link rel="stylesheet" href="/application/css/contest.css">
{% endblock %}
{% block content %}
    {% raw %}
    <div class="container" data-ng-controller="ContestCtrl">
        <div class="row">
            <div class="col-xs-12 col-md-12 highlight">
                <div class="row">
                    <div class="col-md-8">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title">Câu hỏi:</h3>
                            </div>
                            <div class="panel-body">
                                {{ thisweek_contest.description }}
                                {{ error }}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="panel panel-success">
                            <div class="panel-heading">
                                <h3 class="panel-title">Bảng thành tích</h3>
                            </div>
                            <div class="panel-body">
                                <ul class="list-group">
                                    <li data-ng-repeat="player in thisweek_contest.top_player" class="list-group-item">{{ $index+1 }}. {{ player.username }}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-12 highlight">
                <tabset>
                    <tab data-ng-repeat="lang in langs" heading="{{ lang.name }}" active="lang.active">
                        <div ui-ace="{ theme:'twilight',
  mode:lang.mode, onLoad: aceLoaded(lang)}" data-ng-model="lang.source">
                        </div>
                    </tab>

                </tabset>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-12 highlight">
                <button type="button" class="btn btn-success" data-ng-click="submitCode()">Nộp bài</button>
                <button type="button" class="btn btn-info" data-ng-click="runCode()">Chạy thử</button>
                <button type="button" class="btn btn-warning" data-ng-click="resetCode()">Làm lại</button>
            </div>
        </div>
        <div data-ng-show="compiling">
            Compiling.....
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-12 highlight">
                <h3>Bảng kết quả</h3>
        <table class="table">
            <tr>
                <td>#STT</td>
                <td>Kết quả</td>
                <td>Thời gian(s)</td>
                <td>Bộ nhớ(KiB)</td>
                <td>Lỗi</td>
            </tr>
            <tr data-ng-repeat="result in compile_result">
                <td>{{ $index+1 }}</td>
                <td>{{ result.result }}</td>
                <td>{{ result.time }}</td>
                <td>{{ result.memory }}</td>
                <td>{{ result.error }}</td>
            </tr>
        </table>
        </div>
        </div>
    </div>

    {% endraw %}
{% endblock %}
{% block pluginJS %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/ace/1.1.01/ace.js"></script>
    <script src="/application/js/libs/angularjs/ui-ace.min.js"></script>
    <script src="/application/js/libs/angularjs/ui-bootstrap-tpls-0.7.0.min.js"></script>
    <script>
    </script>
{% endblock %}
{% block mediaJS %}
    <script>
    angular.module('services.utility').constant('csrf_token','{{ csrf_token() }}');
    </script>
{% endblock %}