{% extends "main.html" %}
{% block mediaCSS %}
    <link href="/application/css/courses.css" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="container" data-ng-controller="courseCatalog">
        <div class="text-center" data-ng-show="!loaded">
            <div class="row row-gap-large"><img src="/application/img/tp_loading.gif"></div>
            <div class="row row-gap-small"><h4>Đang tải dữ liệu...</h4></div>
        </div>
        <div data-ng-view></div>
{#        <div>#}
{#            <div class="row row-gap-large">#}
{#                <div class="col-md-3">#}
{#                    <a href="/course/ud359">#}
{#                        <img alt="" class="img-responsive img-bordered" src="//lh3.ggpht.com/23-sqOpOGqF06YX3BwIYPIXLX_Ma_clLXySKEHlphqlxr2l-PPbC80U8SjDi96KTWbNjKfY2Pdq_gyFK9A=s277#w=1757&amp;h=1080">#}
{#                    </a>#}
{#                </div>#}
{#                <div class="col-md-7">#}
{#                    <h2 class="h-slim">#}
{#                        <a href="#">Python cơ bản</a>#}
{#                        <span class="h4 badge-new">New</span>#}
{#                    </h2>#}
{##}
{#                    <h3 class="h-slim-top">#}
{#                        Học cách sử dụng python căn bản#}
{#                    </h3>#}
{##}
{#                    <h3 class="h-slim-top"><span class="text-muted ng-scope">#}
{#				<span class="glyphicon glyphicon-certificate"></span>#}
{#				Khóa học miễn phí#}
{#			</span>#}
{#                    </h3>#}
{##}
{#                    <p>Khóa học sẽ cung cấp cho bạn những kiến thức căn bản về python</p>#}
{##}
{#                    <div>#}
{#                    <a class="text-muted" href="#!Data Science">Python</a>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="col-md-2 ">#}
{#                    <a href="/course/learn#!?course_id=ahFkZXZ-ZWFzeWxlYXJuY29kZXITCxIGQ291cnNlGICAgICAucQIDA" class="btn btn-info" style="width: 200px; margin: 5px"><i class="fa fa-youtube-play"></i> Học qua video</a>#}
{#                    <a href="/course/practice#!?course_id=cs101" class="btn btn-info" style="width: 200px; margin: 5px"><i class="fa fa-magic"></i> Học qua bài tập</a>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
    </div>
{% endblock %}
{% block pluginJS %}
    <script src="/application/js/libs/angularjs/angular-route.js"></script>
{% endblock %}