{% extends "main.html" %}
{% block mediaCSS %}
    <link rel="stylesheet" href="/application/css/course_practise_detail.css">
{% endblock %}
{% block content %}
    <div class="container scoped-changes" id="DIV_1">
	<div class="cf" id="DIV_2">
		<div class="curricula__item ui-card ui-card--solo" id="DIV_3">
			<div class="curricula__item__section-logo" id="DIV_4">
				<!-- Temporary hack for scotland TODO: Bob remove later-->

				<div class="curricula__item__logo" id="DIV_5">
					<div class="curricula__item__logo-image curricula__item__logo--generic curricula__item__logo--python" id="DIV_6">
					</div>
				</div>
			</div>
			<div class="curricula__item__section-main curricula__item__panel" id="DIV_7">
				<!-- H1 for track page. -->

				<h1 class="curricula__item__title ui-card__title" id="H1_8">
					Python
				</h1>
				<div class="curricula__item__description" id="DIV_9">
					Learn the fundamentals of programming to build web apps and manipulate data.
				</div>
			</div>
			<div class="curricula__item__section-start" id="DIV_10">
				<div class="curricula__item__start-now" id="DIV_11">
					<a href="/tracks/python/resume" id="A_12"></a>
					<div class="ui-button ui-button--medium ui-button--gray--on-light ui-button__forward-arrow--white" id="DIV_13">
						Finished
					</div>
				</div>
			</div>
		</div> <a href="/glossary/python" class="curriculum__glossary-button" id="A_14">Python Glossary</a>
	</div>
	<div id="DIV_15" class="ui-counter">
		<div class="unit-item" id="DIV_16">
			<h2 class="unit-item__title" id="H2_17">
				Python Syntax
			</h2>
			<content id="CONTENT_18">
				<a href="/courses/4fcba68767e7c1000304119b/resume?curriculum_id=4f89dab3d788890003000096" class="course-item ui-card ui-card--grouped" id="A_19"></a>
				<div class="course-item__progress-indicator course-item__progress-indicator--complete" id="DIV_20">
				</div>
				<div class="course-item__info" id="DIV_21">
					<h4 class="course-item__title ui-counter__item ui-card__title" id="H4_22">
						Python Syntax
					</h4>
					<p class="course-item__entry" id="P_23">
						This tutorial will introduce you to Python, a general-purpose, object-oriented interpreted language you can use for countless standalone projects or scripting applications.
					</p>
				</div><a href="/courses/4fd55e66b280710003045fb5/resume?curriculum_id=4f89dab3d788890003000096" class="course-item ui-card ui-card--grouped" id="A_24"></a>
				<div class="course-item__progress-indicator course-item__progress-indicator--complete" id="DIV_25">
				</div>
				<div class="course-item__info" id="DIV_26">
					<h4 class="course-item__title ui-counter__item ui-card__title" id="H4_27">
						Tip Calculator
					</h4>
					<p class="course-item__entry" id="P_28">
						Now that you've completed the lesson on Python syntax, let's see if you can put your newfound skills to use. In this project, you'll create a simple calculator that determines the price of a meal after tax and tip.
					</p>
				</div>
			</content>
		</div>
		<div class="unit-item" id="DIV_29">
			<h2 class="unit-item__title" id="H2_30">
				Strings and Console Output
			</h2>
			<content id="CONTENT_31">
				<a href="/courses/4fd3b770f8e42200030312ff/resume?curriculum_id=4f89dab3d788890003000096" class="course-item ui-card ui-card--grouped" id="A_32"></a>
				<div class="course-item__progress-indicator course-item__progress-indicator--complete" id="DIV_33">
				</div>
				<div class="course-item__info" id="DIV_34">
					<h4 class="course-item__title ui-counter__item ui-card__title" id="H4_35">
						Strings &amp; Console Output
					</h4>
					<p class="course-item__entry" id="P_36">
						This course will introduce you to strings and console output in Python, including creating string literals, calling a variety of string methods, and using the "print" keyword.
					</p>
				</div><a href="/courses/5006dcacfe867900020049cd/resume?curriculum_id=4f89dab3d788890003000096" class="course-item ui-card ui-card--grouped" id="A_37"></a>
				<div class="course-item__progress-indicator course-item__progress-indicator--complete" id="DIV_38">
				</div>
				<div class="course-item__info" id="DIV_39">
					<h4 class="course-item__title ui-counter__item ui-card__title" id="H4_40">
						Date and Time
					</h4>
					<p class="course-item__entry" id="P_41">
						This project is a follow up to Unit 2: Strings and Console input and will give you practice with the concepts introduced in that course.
					</p>
				</div>
			</content>
		</div>
		<div class="unit-item" id="DIV_42">
			<h2 class="unit-item__title" id="H2_43">
				Conditionals and Control Flow
			</h2>
			<content id="CONTENT_44">
				<a href="/courses/4fd50d26d7fc680003030bd9/resume?curriculum_id=4f89dab3d788890003000096" class="course-item ui-card ui-card--grouped" id="A_45"></a>
				<div class="course-item__progress-indicator course-item__progress-indicator--complete" id="DIV_46">
				</div>
				<div class="course-item__info" id="DIV_47">
					<h4 class="course-item__title ui-counter__item ui-card__title" id="H4_48">
						Conditionals &amp; Control Flow
					</h4>
					<p class="course-item__entry" id="P_49">
						In this course, we'll learn how to create programs that generate different outcomes based on user input!
					</p>
				</div><a href="/courses/4fda456f0eca79000300966f/resume?curriculum_id=4f89dab3d788890003000096" class="course-item ui-card ui-card--grouped" id="A_50"></a>
				<div class="course-item__progress-indicator course-item__progress-indicator--complete" id="DIV_51">
				</div>
				<div class="course-item__info" id="DIV_52">
					<h4 class="course-item__title ui-counter__item ui-card__title" id="H4_53">
						PygLatin
					</h4>
					<p class="course-item__entry" id="P_54">
						In this project we'll put together all of the Python skills we've learned so far including string manipulation and branching. We'll be building a Pyg Latin translator. (That's Pig Latin for Python Programmers!)
					</p>
				</div>
			</content>
		</div>
		<div class="unit-item" id="DIV_55">
			<h2 class="unit-item__title" id="H2_56">
				Functions
			</h2>
			<content id="CONTENT_57">
				<a href="/courses/4fd5102e43dcd00003032127/resume?curriculum_id=4f89dab3d788890003000096" class="course-item ui-card ui-card--grouped" id="A_58"></a>
				<div class="course-item__progress-indicator course-item__progress-indicator--complete" id="DIV_59">
				</div>
				<div class="course-item__info" id="DIV_60">
					<h4 class="course-item__title ui-counter__item ui-card__title" id="H4_61">
						Functions
					</h4>
					<p class="course-item__entry" id="P_62">
						A function is a reusable section of code written to perform a specific task in a program. We gave you a taste of functions in Unit 3; here, you'll learn how to create your own.
					</p>
				</div><a href="/courses/4fdf9ea0154f45000301a324/resume?curriculum_id=4f89dab3d788890003000096" class="course-item ui-card ui-card--grouped" id="A_63"></a>
				<div class="course-item__progress-indicator course-item__progress-indicator--complete" id="DIV_64">
				</div>
				<div class="course-item__info" id="DIV_65">
					<h4 class="course-item__title ui-counter__item ui-card__title" id="H4_66">
						Taking a Vacation
					</h4>
					<p class="course-item__entry" id="P_67">
						Hard day at work? Rough day at school? Take a load off with a programming vacation!
					</p>
				</div>
			</content>
		</div>
		<div class="unit-item" id="DIV_68">
			<h2 class="unit-item__title" id="H2_69">
				Lists &amp; Dictionaries
			</h2>
			<content id="CONTENT_70">
				<a href="/courses/4ff86684aea5ff00030235b4/resume?curriculum_id=4f89dab3d788890003000096" class="course-item ui-card ui-card--grouped" id="A_71"></a>
				<div class="course-item__progress-indicator course-item__progress-indicator--complete" id="DIV_72">
				</div>
				<div class="course-item__info" id="DIV_73">
					<h4 class="course-item__title ui-counter__item ui-card__title" id="H4_74">
						Python Lists and Dictionaries
					</h4>
					<p class="course-item__entry" id="P_75">
						Lists and dictionaries are powerful tools you can use to store, organize, and manipulate all kinds of information.
					</p>
				</div><a href="/courses/4ff35c38a3f311000301446e/resume?curriculum_id=4f89dab3d788890003000096" class="course-item ui-card ui-card--grouped" id="A_76"></a>
				<div class="course-item__progress-indicator course-item__progress-indicator--complete" id="DIV_77">
				</div>
				<div class="course-item__info" id="DIV_78">
					<h4 class="course-item__title ui-counter__item ui-card__title" id="H4_79">
						A Day at the Supermarket
					</h4>
					<p class="course-item__entry" id="P_80">
						Let's manage our own supermarket and buy some goods along the way!
					</p>
				</div>
			</content>
		</div>
		<div class="unit-item" id="DIV_81">
			<h2 class="unit-item__title" id="H2_82">
				Student Becomes the Teacher
			</h2>
			<content id="CONTENT_83">
				<a href="/courses/5008bc8f67a75e00020034e8/resume?curriculum_id=4f89dab3d788890003000096" class="course-item ui-card ui-card--grouped" id="A_84"></a>
				<div class="course-item__progress-indicator course-item__progress-indicator--complete" id="DIV_85">
				</div>
				<div class="course-item__info" id="DIV_86">
					<h4 class="course-item__title ui-counter__item ui-card__title" id="H4_87">
						Student Becomes the Teacher
					</h4>
					<p class="course-item__entry" id="P_88">
						Use what you've learned so far to manage your own class.
					</p>
				</div>
			</content>
		</div>
		<div class="unit-item" id="DIV_89">
			<h2 class="unit-item__title" id="H2_90">
				Lists and Functions
			</h2>
			<content id="CONTENT_91">
				<a href="/courses/4fdfef4632e4f100030023dd/resume?curriculum_id=4f89dab3d788890003000096" class="course-item ui-card ui-card--grouped" id="A_92"></a>
				<div class="course-item__progress-indicator course-item__progress-indicator--complete" id="DIV_93">
				</div>
				<div class="course-item__info" id="DIV_94">
					<h4 class="course-item__title ui-counter__item ui-card__title" id="H4_95">
						Lists and Functions
					</h4>
					<p class="course-item__entry" id="P_96">
						Now that you've learned about lists, let's turbo-charge them with functions.
					</p>
				</div><a href="/courses/501f3318aec2a200020245c7/resume?curriculum_id=4f89dab3d788890003000096" class="course-item ui-card ui-card--grouped" id="A_97"></a>
				<div class="course-item__progress-indicator course-item__progress-indicator--complete" id="DIV_98">
				</div>
				<div class="course-item__info" id="DIV_99">
					<h4 class="course-item__title ui-counter__item ui-card__title" id="H4_100">
						Battleship!
					</h4>
					<p class="course-item__entry" id="P_101">
						In this project we will make a simplified version of the classic board game Battleship! We'll use functions, lists, and conditionals to make our game.
					</p>
				</div>
			</content>
		</div>
		<div class="unit-item" id="DIV_102">
			<h2 class="unit-item__title" id="H2_103">
				Loops
			</h2>
			<content id="CONTENT_104">
				<a href="/courses/4fff784def7d4200020006e0/resume?curriculum_id=4f89dab3d788890003000096" class="course-item ui-card ui-card--grouped" id="A_105"></a>
				<div class="course-item__progress-indicator course-item__progress-indicator--complete" id="DIV_106">
				</div>
				<div class="course-item__info" id="DIV_107">
					<h4 class="course-item__title ui-counter__item ui-card__title" id="H4_108">
						Loops
					</h4>
					<p class="course-item__entry" id="P_109">
						Loops allow you to quickly iterate over information in Python. In this lesson, we'll cover two types of loop: 'while' and 'for'.
					</p>
				</div><a href="/courses/500eb5d2ca02790002029c5e/resume?curriculum_id=4f89dab3d788890003000096" class="course-item ui-card ui-card--grouped" id="A_110"></a>
				<div class="course-item__progress-indicator" id="DIV_111">
				</div>
				<div class="course-item__info" id="DIV_112">
					<h4 class="course-item__title ui-counter__item ui-card__title" id="H4_113">
						Practice Makes Perfect
					</h4>
					<p class="course-item__entry" id="P_114">
						You know a lot of Python now. Let's do some practice problems!
					</p>
				</div>
			</content>
		</div>
		<div class="unit-item" id="DIV_115">
			<h2 class="unit-item__title" id="H2_116">
				Exam Statistics
			</h2>
			<content id="CONTENT_117">
				<a href="/courses/500473d6859b61000200e854/resume?curriculum_id=4f89dab3d788890003000096" class="course-item ui-card ui-card--grouped" id="A_118"></a>
				<div class="course-item__progress-indicator course-item__progress-indicator--complete" id="DIV_119">
				</div>
				<div class="course-item__info" id="DIV_120">
					<h4 class="course-item__title ui-counter__item ui-card__title" id="H4_121">
						Exam Statistics
					</h4>
					<p class="course-item__entry" id="P_122">
						Your students just took their first test. It's time to see how everyone did. Let's write a program to compute the mean, variance, and standard deviation of the test scores.
					</p>
				</div>
			</content>
		</div>
		<div class="unit-item" id="DIV_123">
			<h2 class="unit-item__title" id="H2_124">
				Advanced Topics in Python
			</h2>
			<content id="CONTENT_125">
				<a href="/courses/50807ed39411990200001a7e/resume?curriculum_id=4f89dab3d788890003000096" class="course-item ui-card ui-card--grouped" id="A_126"></a>
				<div class="course-item__progress-indicator course-item__progress-indicator--complete" id="DIV_127">
				</div>
				<div class="course-item__info" id="DIV_128">
					<h4 class="course-item__title ui-counter__item ui-card__title" id="H4_129">
						Advanced Topics in Python
					</h4>
					<p class="course-item__entry" id="P_130">
						In this lesson, we'll cover some of the more complex aspects of Python, including iterating over data structures, list comprehensions, list slicing, and lambda expressions.
					</p>
				</div><a href="/courses/50240404052990000202031a/resume?curriculum_id=4f89dab3d788890003000096" class="course-item ui-card ui-card--grouped" id="A_131"></a>
				<div class="course-item__progress-indicator course-item__progress-indicator--complete" id="DIV_132">
				</div>
				<div class="course-item__info" id="DIV_133">
					<h4 class="course-item__title ui-counter__item ui-card__title" id="H4_134">
						Introduction to Bitwise Operators
					</h4>
					<p class="course-item__entry" id="P_135">
						Bitwise operations directly manipulate bits—patterns of 0s and 1s. Though they can be tricky to learn at first, their speed makes them a useful addition to any programmer's toolbox.
					</p>
				</div>
			</content>
		</div>
		<div class="unit-item" id="DIV_136">
			<h2 class="unit-item__title" id="H2_137">
				Introduction to Classes
			</h2>
			<content id="CONTENT_138">
				<a href="/courses/50807f0c69fe990200001a48/resume?curriculum_id=4f89dab3d788890003000096" class="course-item ui-card ui-card--grouped" id="A_139"></a>
				<div class="course-item__progress-indicator course-item__progress-indicator--complete" id="DIV_140">
				</div>
				<div class="course-item__info" id="DIV_141">
					<h4 class="course-item__title ui-counter__item ui-card__title" id="H4_142">
						Introduction to Classes
					</h4>
					<p class="course-item__entry" id="P_143">
						Classes are a crucial part of object-oriented programming (OOP). In this course, we'll explain what classes are, why they're important, and how to use them effectively.
					</p>
				</div><a href="/courses/5022a10f8136e600020580a5/resume?curriculum_id=4f89dab3d788890003000096" class="course-item ui-card ui-card--grouped" id="A_144"></a>
				<div class="course-item__progress-indicator course-item__progress-indicator--complete" id="DIV_145">
				</div>
				<div class="course-item__info" id="DIV_146">
					<h4 class="course-item__title ui-counter__item ui-card__title" id="H4_147">
						Classes
					</h4>
					<p class="course-item__entry" id="P_148">
						Make your own Car and learn how to driveCar()!
					</p>
				</div>
			</content>
		</div>
		<div class="unit-item" id="DIV_149">
			<h2 class="unit-item__title" id="H2_150">
				File Input and Output
			</h2>
			<content id="CONTENT_151">
				<a href="/courses/5089d7e593de000200000b29/resume?curriculum_id=4f89dab3d788890003000096" class="course-item ui-card ui-card--grouped" id="A_152"></a>
				<div class="course-item__progress-indicator course-item__progress-indicator--complete" id="DIV_153">
				</div>
				<div class="course-item__info" id="DIV_154">
					<h4 class="course-item__title ui-counter__item ui-card__title" id="H4_155">
						File Input/Output
					</h4>
					<p class="course-item__entry" id="P_156">
						Now that you understand Python syntax and have been introduced to some Python best practices, let's apply what you've learned to a real-world application: writing data to a file.
					</p>
				</div>
			</content>
		</div>
	</div>
</div>
{% endblock %}