{% extends "main.html" %}
{% block mediaCSS %}
    <link rel="stylesheet" href="/application/css/course_learn_detail.css">
{% endblock %}
{% block content %}
    <div class="row masthead" id="DIV_2">
        <div class="cell grid-a" id="DIV_3">
            <div class="box logo" id="DIV_4">
                <a href="#" class="toggle-play-video" id="A_5"><b class="play-video" id="B_6">Play Video</b><img
                        alt="Discover Dev Tools"
                        src="http://d1740rtcumxhiu.cloudfront.net/assets/logo-devtools-b7f0fc5f187b02434b19a7dd3c92e479.png"
                        id="IMG_7"/></a>
            </div>
            <div class="box intro" id="DIV_8">
                <h1 id="H1_9">
                    Explore and Master <b id="B_10">Chrome DevTools</b>
                </h1> <a href="/chapters/1?locale=en" class="next" id="A_11">Continue Course</a>
            </div>
        </div>
    </div>
    <div class="video video-modal" id="DIV_12">
        <a href="#" class="video-close" id="A_13">x</a>
        <video id="VIDEO_14">
            <source id="SOURCE_15"/>
            <source id="SOURCE_16"/>
            <source id="SOURCE_17"/>
        </video>
    </div>
    <div class="video-overlay" id="DIV_18">
    </div>
    <div class="row sponsors" id="DIV_19">
        <div class="cell grid-a" id="DIV_20">
            <div class="box" id="DIV_21">
            </div>
            <div class="box" id="DIV_22">
                <a href="http://www.google.com" class="sponsor-google" id="A_23">Sponsored by Google</a> <a
                    href="http://www.codeschool.com" class="sponsor-cs" id="A_24">Sponsored by Code School</a>
            </div>
        </div>
    </div>
    <div class="row content" id="DIV_25">
        <div class="cell grid-a" id="DIV_26">
            <div class="box card upcoming" id="DIV_27">
                <h2 id="H2_28">
                    What You'll Learn in This Course:
                </h2>
                <ol id="OL_29">
                    <li id="LI_30">
                        Chapter 1: <strong id="STRONG_31">Getting Started &amp; Basic DOM and Styles</strong>
                    </li>
                    <li id="LI_32">
                        Chapter 2: <strong id="STRONG_33">Advanced DOM and Styles</strong>
                    </li>
                    <li id="LI_34">
                        Chapter 3: <strong id="STRONG_35">Working With the Console</strong>
                    </li>
                    <li id="LI_36">
                        Chapter 4: <strong id="STRONG_37">Debugging JavaScript</strong>
                    </li>
                    <li id="LI_38">
                        Chapter 5: <strong id="STRONG_39">Improving Network Performance</strong>
                    </li>
                    <li id="LI_40">
                        Chapter 6: <strong id="STRONG_41">Improving Performance</strong>
                    </li>
                    <li id="LI_42">
                        Chapter 7: <strong id="STRONG_43">Memory Profiling</strong>
                    </li>
                </ol>
            </div>
            <div class="box achievements" id="DIV_44">
                <ul class="stats" id="UL_45">
                    <li id="LI_46">
                        <h3 id="H3_47">
                            17 <b id="B_48">Videos</b>
                        </h3>
                    </li>
                    <li id="LI_49">
                        <h3 id="H3_50">
                            75+ <b id="B_51">Challenges</b>
                        </h3>
                    </li>
                    <li id="LI_52">
                        <h3 id="H3_53">
                            8 <b id="B_54">Badges</b>
                        </h3>
                    </li>
                </ul>
                <div class="card badges" id="DIV_55">
                    <h2 id="H2_56">
                        Badges you can earn:
                    </h2>

                    <div class="badge" id="DIV_57">
                        <div id="DIV_58">
                        </div>
                        <div id="DIV_59">
                        </div>
                        <noscript id="NOSCRIPT_60">
                            &lt;img alt="Discover DevTools Course Completion Badge" height="75"
                            src="http://d1740rtcumxhiu.cloudfront.net/assets/badges/home/badge-course-0519b0694bf227a383fe4ba4e8793e76.png"
                            width="75" /&gt;
                        </noscript>
                        <img alt="Discover DevTools Course Completion Badge"
                             src="assets/badges/home/badge-course-small.png" id="IMG_61"/>
                    </div>
                    <div class="badge" id="DIV_62">
                        <div id="DIV_63">
                        </div>
                        <div id="DIV_64">
                        </div>
                        <noscript id="NOSCRIPT_65">
                            &lt;img alt="Discover DevTools Level 1 Completion Badge" height="75"
                            src="http://d1740rtcumxhiu.cloudfront.net/assets/badges/home/badge-01-c95d3a524e8eafc68b3227c986b4e7c5.png"
                            width="75" /&gt;
                        </noscript>
                        <img alt="Discover DevTools Level 1 Completion Badge"
                             src="assets/badges/home/badge-01-small.png" id="IMG_66"/>
                    </div>
                    <div class="badge" id="DIV_67">
                        <div id="DIV_68">
                        </div>
                        <div id="DIV_69">
                        </div>
                        <noscript id="NOSCRIPT_70">
                            &lt;img alt="Discover DevTools Level 2 Completion Badge" height="75"
                            src="http://d1740rtcumxhiu.cloudfront.net/assets/badges/home/badge-02-7f88e37215bcbd633ab81c04f4493e77.png"
                            width="75" /&gt;
                        </noscript>
                        <img alt="Discover DevTools Level 2 Completion Badge"
                             src="assets/badges/home/badge-02-small.png" id="IMG_71"/>
                    </div>
                    <div class="badge" id="DIV_72">
                        <div id="DIV_73">
                        </div>
                        <div id="DIV_74">
                        </div>
                        <noscript id="NOSCRIPT_75">
                            &lt;img alt="Discover DevTools Level 3 Completion Badge" height="75"
                            src="http://d1740rtcumxhiu.cloudfront.net/assets/badges/home/badge-03-b2e560e8b66a7d32738db1b43b502e44.png"
                            width="75" /&gt;
                        </noscript>
                        <img alt="Discover DevTools Level 3 Completion Badge"
                             src="assets/badges/home/badge-03-small.png" id="IMG_76"/>
                    </div>
                    <div class="badge" id="DIV_77">
                        <div id="DIV_78">
                        </div>
                        <div id="DIV_79">
                        </div>
                        <noscript id="NOSCRIPT_80">
                            &lt;img alt="Discover DevTools Level 4 Completion Badge" height="75"
                            src="http://d1740rtcumxhiu.cloudfront.net/assets/badges/home/badge-04-03555fb01bcb07db0f12b26e876d424a.png"
                            width="75" /&gt;
                        </noscript>
                        <img alt="Discover DevTools Level 4 Completion Badge"
                             src="assets/badges/home/badge-04-small.png" id="IMG_81"/>
                    </div>
                    <div class="badge" id="DIV_82">
                        <div id="DIV_83">
                        </div>
                        <div id="DIV_84">
                        </div>
                        <noscript id="NOSCRIPT_85">
                            &lt;img alt="Discover DevTools Level 5 Completion Badge" height="75"
                            src="http://d1740rtcumxhiu.cloudfront.net/assets/badges/home/badge-05-558a4e555540d2fda31fe6cb94f3cd91.png"
                            width="75" /&gt;
                        </noscript>
                        <img alt="Discover DevTools Level 5 Completion Badge"
                             src="assets/badges/home/badge-05-small.png" id="IMG_86"/>
                    </div>
                    <div class="badge" id="DIV_87">
                        <div id="DIV_88">
                        </div>
                        <div id="DIV_89">
                        </div>
                        <noscript id="NOSCRIPT_90">
                            &lt;img alt="Discover DevTools Level 6 Completion Badge" height="75"
                            src="http://d1740rtcumxhiu.cloudfront.net/assets/badges/home/badge-06-2f3843edef08603818b7914a0a0ff983.png"
                            width="75" /&gt;
                        </noscript>
                        <img alt="Discover DevTools Level 6 Completion Badge"
                             src="assets/badges/home/badge-06-small.png" id="IMG_91"/>
                    </div>
                    <div class="badge" id="DIV_92">
                        <div id="DIV_93">
                        </div>
                        <div id="DIV_94">
                        </div>
                        <noscript id="NOSCRIPT_95">
                            &lt;img alt="Discover DevTools Level 7 Completion Badge" height="75"
                            src="http://d1740rtcumxhiu.cloudfront.net/assets/badges/home/badge-07-b039d6c0ad31a9f453384ace2eb4e4e3.png"
                            width="75" /&gt;
                        </noscript>
                        <img alt="Discover DevTools Level 7 Completion Badge"
                             src="assets/badges/home/badge-07-small.png" id="IMG_96"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="share" id="DIV_97">
        <div class="cell" id="DIV_98">
            <div class="addthis addthis addthis_toolbox addthis_default_style" id="DIV_99">
                <a class="addthis_button_google_plusone at300b" id="A_100"></a>

                <div id="DIV_101">
                    <iframe width="100%" id="IFRAME_102" name="I0_1392958663198"
                            src="https://apis.google.com/u/0/_/+1/fastbutton?usegapi=1&amp;bsv=o&amp;size=medium&amp;hl=en-US&amp;origin=http%3A%2F%2Fdiscover-devtools.codeschool.com&amp;url=http%3A%2F%2Fdiscover-devtools.codeschool.com%2F%3Flocale%3Den&amp;gsrc=3p&amp;ic=1&amp;jsh=m%3B%2F_%2Fscs%2Fapps-static%2F_%2Fjs%2Fk%3Doz.gapi.vi.J8U6x9Ts_3o.O%2Fm%3D__features__%2Fam%3DIQ%2Frt%3Dj%2Fd%3D1%2Ft%3Dzcms%2Frs%3DAItRSTOpvkm86H2qGGhnpLw81e4UkX7hUw#_methods=onPlusOne%2C_ready%2C_close%2C_open%2C_resizeMe%2C_renderstart%2Concircled%2Cdrefresh%2Cerefresh&amp;id=I0_1392958663198&amp;parent=http%3A%2F%2Fdiscover-devtools.codeschool.com&amp;pfname=&amp;rpctoken=13376332">
                    </iframe>
                </div>
                <a title="I completed the Try Dev Tools course!" class="addthis_button_facebook_like at300b"
                   id="A_103"></a>

                <div class="fb-like fb_iframe_widget" id="DIV_104">
                    <span id="SPAN_105"></span>
                    <iframe name="f3b8478524" width="90px" height="1000px"
                            src="http://www.facebook.com/plugins/like.php?action=like&amp;app_id=172525162793917&amp;channel=http%3A%2F%2Fstatic.ak.facebook.com%2Fconnect%2Fxd_arbiter.php%3Fversion%3D40%23cb%3Df3814a27b4%26domain%3Ddiscover-devtools.codeschool.com%26origin%3Dhttp%253A%252F%252Fdiscover-devtools.codeschool.com%252Ff2d247d868%26relation%3Dparent.parent&amp;font=arial&amp;href=http%3A%2F%2Fdiscover-devtools.codeschool.com%2F%3Flocale%3Den&amp;layout=button_count&amp;locale=en_US&amp;ref=.UwbcwcuwmHY.like&amp;sdk=joey&amp;send=false&amp;show_faces=false&amp;width=90"
                            id="IFRAME_106">
                    </iframe>
                </div>
                <a class="addthis_button_tweet at300b" id="A_107"></a>
                <iframe id="IFRAME_108"
                        src="http://platform.twitter.com/widgets/tweet_button.1392079123.html#_=1392958663129&amp;count=horizontal&amp;counturl=http%3A%2F%2Fdiscover-devtools.codeschool.com%2F%3Flocale%3Den&amp;id=twitter-widget-0&amp;lang=en&amp;original_referer=http%3A%2F%2Fdiscover-devtools.codeschool.com%2F%3Flocale%3Den&amp;size=m&amp;text=Explore%20and%20Master%20Chrome%20DevTools%20in%20this%20free%20course!&amp;url=http%3A%2F%2Fdiscover-devtools.codeschool.com%2F%3Flocale%3Den%23.UwbcwWDUA6o.twitter&amp;via=codeschool"
                        class="twitter-share-button twitter-tweet-button twitter-count-horizontal">
                </iframe>
                <div class="atclear" id="DIV_109">
                </div>
            </div>
        </div>
    </div>


    <script id="SCRIPT_112">//<![CDATA[
    $(function () {

        var video = $('.video-modal video');

        function hideVideo() {
            $('body').removeClass('is-video-playing');
            video.removeAttr('controls').get(0).pause();
        }

        $('.toggle-play-video').on('click', function (e) {
            e.preventDefault();
            $('body').addClass('is-video-playing');
            video.attr('controls', 'controls').bind('timeupdate',function () {
                if (video.get(0).ended) {
                    hideVideo();
                }
            }).get(0).play();
            video.get(0).focus();
        });
        $('.video-close, .video-overlay').on('click', function (e) {
            e.preventDefault();
            hideVideo();
        });

    });
    //]]>
    </script>

    <script id="SCRIPT_114" type="text/javascript">var aa = document.getElementById("deferedjs");
    var bb = document.createElement("script");
    bb.type = "text/javascript";
    bb.src = ("//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-50648bef01e90a23#async=1");
    aa.parentNode.insertBefore(bb, aa);
    </script>
    <script type="text/javascript" id="SCRIPT_115">if (!NREUMQ.f) {
        NREUMQ.f = function () {
            NREUMQ.push(["load", new Date().getTime()]);
            var e = document.createElement("script");
            e.type = "text/javascript";
            e.src = (("http:" === document.location.protocol) ? "http:" : "https:") + "//" +
                    "js-agent.newrelic.com/nr-100.js";
            document.body.appendChild(e);
            if (NREUMQ.a)NREUMQ.a();
        };
        NREUMQ.a = window.onload;
        window.onload = NREUMQ.f;
    }
    ;
    NREUMQ.push(["nrfj", "beacon-1.newrelic.com", "65b4af9171", "1133709", "Ig4PFRZXWlpTFh8LCwwETggKXFNO", 0, 332, new Date().getTime(), "", "", "", "", ""]);
    </script>
    <div id="DIV_116">
        <iframe id="IFRAME_117"
                src="//ct1.addthis.com/static/r07/sh150.html#iit=1392958663040&amp;tmr=load%3D1392958657060%26core%3D1392958657172%26main%3D1392958663027%26ifr%3D1392958663048&amp;cb=0&amp;cdn=1&amp;chr=UTF-8&amp;kw=&amp;ab=-&amp;dh=discover-devtools.codeschool.com&amp;dr=&amp;du=http%3A%2F%2Fdiscover-devtools.codeschool.com%2F%3Flocale%3Den&amp;dt=Code%20School%20-%20Discover%20DevTools&amp;dbg=0&amp;md=0&amp;cap=tc%3D0%26ab%3D0&amp;inst=1&amp;vcl=1&amp;jsl=8225&amp;prod=undefined&amp;lng=en-US&amp;ogt=&amp;pc=men&amp;pub=ra-50648bef01e90a23%2523async%253D1&amp;ssl=0&amp;sid=5306dcc1407fe42c&amp;srpl=1&amp;srcs=1&amp;srd=1&amp;srf=1&amp;srx=1&amp;ver=300&amp;xck=0&amp;xtr=0&amp;og=&amp;aa=0&amp;rev=126644&amp;ct=1&amp;xld=1&amp;xd=1">
        </iframe>
    </div>

    <div class="intabExt ui-draggable" id="DIV_119">
        <a href="#close" title="Close" class="intabExt-close intabExt-control" id="A_120"><i class="fa-icon-remove"
                                                                                             id="I_121"></i></a><br
            id="BR_122"/><a href="#open_full_tab" title="Open in New Tab" class="intabExt-expand intabExt-control"
                            id="A_123"><i class="fa-icon-external-link" id="I_124"></i></a>

        <form class="intabExt-urlForm" id="FORM_125">
            <input type="text" placeholder="Enter url..." id="INPUT_126"/>
        </form>
        <iframe width="100%" height="100%" name="IntabFrame" id="IFRAME_127">
        </iframe>
    </div>

    <div id="DIV_129" class=" fb_reset">
        <div id="DIV_131">
            <div id="DIV_132">
                <iframe name="f128d3bf4c"
                        src="https://www.facebook.com/connect/ping?client_id=172525162793917&amp;domain=discover-devtools.codeschool.com&amp;origin=1&amp;redirect_uri=http%3A%2F%2Fstatic.ak.facebook.com%2Fconnect%2Fxd_arbiter.php%3Fversion%3D40%23cb%3Df3182cac2c%26domain%3Ddiscover-devtools.codeschool.com%26origin%3Dhttp%253A%252F%252Fdiscover-devtools.codeschool.com%252Ff2d247d868%26relation%3Dparent&amp;response_type=token%2Csigned_request%2Ccode&amp;sdk=joey"
                        id="IFRAME_133">
                </iframe>
            </div>
        </div>
        <div id="DIV_134">
            <div id="DIV_135">
                <iframe name="fb_xdm_frame_http" id="IFRAME_136"
                        src="http://static.ak.facebook.com/connect/xd_arbiter.php?version=40#channel=f2d247d868&amp;origin=http%3A%2F%2Fdiscover-devtools.codeschool.com">
                </iframe>
                <iframe name="fb_xdm_frame_https" id="IFRAME_137"
                        src="https://s-static.ak.facebook.com/connect/xd_arbiter.php?version=40#channel=f2d247d868&amp;origin=http%3A%2F%2Fdiscover-devtools.codeschool.com">
                </iframe>
            </div>
        </div>
    </div>

    <iframe name="oauth2relay649381293" id="IFRAME_139"
            src="https://accounts.google.com/o/oauth2/postmessageRelay?parent=http%3A%2F%2Fdiscover-devtools.codeschool.com#rpctoken=233863657&amp;forcesecure=1">
    </iframe>
{% endblock %}