{% extends "main.html" %}
{% block mediaCSS %}
    <link rel="stylesheet" type="text/css" href="/application/css/blockly/common.css">
    <link rel="stylesheet" type="text/css" href="/application/css/blockly/maze/style.css">
{% endblock %}
{% block content %}
    <div class="container" style="min-height: 560px">
        <div id="blockyApp"></div>
    </div>
{% endblock %}
{% block pluginJS %}
    <script type="text/javascript" src="/application/js/libs/blockly/_soy/soyutils.js"></script>
    <script type="text/javascript" src="/application/js/libs/blockly/common.js"></script>
    <script>
        BlocklyApps.LANG = "{{ locale_language_id }}";
    </script>
    <script type="text/javascript" src="/application/js/libs/blockly/maze/maze.js"></script>
    <script type="text/javascript">
        $("#blockyApp").html(mazepage.start({}, null,
                {lang: BlocklyApps.LANG,
                    level: Maze.LEVEL,
                    skin: Maze.SKIN_ID,
                    langSrc: BlocklyApps.languagePack()}));
    </script>
    <script type="text/javascript" src="/application/js/libs/blockly/blockly_compressed.js"></script>
    <script type="text/javascript" src="/application/js/libs/blockly/javascript_compressed.js"></script>
    <script type="text/javascript" src="/application/js/libs/blockly/msg/js/{{ locale_language_id }}.js"></script>
    <script type="text/javascript" src="/application/js/libs/blockly/maze/blocks.js"></script>
{% endblock %}