{% extends "main.html" %}
{% block mediaCSS %}
    <link rel="stylesheet" type="text/css" href="/application/css/blockly/common.css">
    <link rel="stylesheet" type="text/css" href="/application/css/blockly/maze/style.css">
    <link href='http://fonts.googleapis.com/css?family=Orbitron' rel='stylesheet' type='text/css'>
    <link href="/application/css/hopscotch-0.1.1.css" rel="stylesheet">
{% endblock %}
{% block content %}
    {% raw %}
        <div class="container">
            <div class="col-md-12 highlight ">
                <div><img width="100" alt="logo" style="float: left; margin-right: 5px"
                          src="/application/img/game.png"/>
                </div>
                <b style="color: #0044cc; font-size: 25px">Hướng dẫn</b> <br>Chào mừng các bạn đến với phân hệ HỌC MÀ
                CHƠI. Đây là phần mà bạn có thể luyện tập tư duy, suy luận logic với hướng lập trình thông minh theo
                cách của bạn mà bạn không cần phải code...
                <!-- Button trigger modal -->
                <a class="btn btn-default" role="button" data-toggle="modal" data-target="#myModal"
                   style="color: #0044cc; font-size: 15px">Xem chi tiết »</a>
                <a class="pull-right btn" id="startTourBtn"><img rel="tooltip" data-placement="bottom" title="Help"
                                                                 alt="help"
                                                                 src="/application/img/quiz/help.png"
                                                                 width="50"/> </a>
            </div>
        </div>
        <div class="modal fade" id="timeoutModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Hết giờ</h4>
              </div>
              <div class="modal-body">
                Rất tiếc bạn phải chơi lại từ đầu
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <img width="100" alt="logo" style="float: left; margin-right: 5px"
                          src="/application/img/huong_dan.png"/>
                        <h4 class="modal-title" id="myModalLabel"><b style="color: #0044cc; font-size: 25px">Hướng
                            dẫn</b></h4>
                    </div>
                    <div class="modal-body">
                        <br>

                        <p style="color: #0044cc">Chào mừng các bạn đến với phân hệ HỌC MÀ CHƠI.</p>

                        <p style="color: #0044cc"> Đây là phần mà bạn có thể luyện tập tư duy, suy luận logic với hướng
                            lập trình
                            thông minh theo cách của bạn mà bạn không cần phải code. Có nghĩa là bạn hãy tự mình suy
                            nghĩ cách để con đồ chơi ấy có
                            thể đi đến đích( quả bóng màu đỏ) bằng cách kéo thả các nút màu tím ở giữa để ghép với mảnh
                            đã có sẳn. Hoặc nếu bạn không muốn
                            sử dụng nút màu tím có sẳn hoặc muốn bỏ nút nào mà bạn đã kéo nhầm (không đúng) bạn có thể
                            kéo thả bỏ vào sọt rác bên dưới để hủy nó.
                            Và lần lượt, bạn phải trải qua từng level một và không được chơi tùy ý. Ngoài ra, nếu bạn
                            muốn biết nó code như thế nào để có thể chạy
                            được thì bạn có thể click vào biểu tượng bên cạnh nút chạy màu đỏ để xem code. </p>

                        <p style="color: #0044cc">Chúng tôi hy vọng qua việc tham gia trò chơi này,
                            bạn sẽ tìm thấy sự hứng thú trong việc học tin học trên nền tảng cơ bản về lập trình, nâng
                            cao được trình độ của mình trong tư duy cũng
                            như suy diễn một vấn đề một cách logic!</p><br/>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-info" data-dismiss="modal">OK</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="container" style="padding: -0.5px" ng-controller="gameCtrl">
            <script type="text/ng-template" id="chooseModeModal.html">
                <div class="modal-header">
                    <h3>Vui lòng chọn mức độ chơi!</h3>
                </div>
                <div class="modal-body">
                    <ul>
                        <li ng-repeat="mode in modes">
                            <a ng-click="selected.mode = mode">{{ mode.name }}</a>
                        </li>
                    </ul>
                    Bạn chọn: <b>{{ selected.mode.name }}</b>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" ng-click="ok()">OK</button>
                    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
                </div>
            </script>
            <timer id="clock" interval="1000" countdown="mode.time" autostart="false">{{ minutes }} : {{ seconds }}</timer>
            <div class="col-md-12 highlight ">
                <div class="container" style="min-height: 560px; padding: 0px">
                    <div id="blockyApp"></div>
                </div>
            </div>
        </div>
    {% endraw %}
{% endblock %}
{% block pluginJS %}
    <script type="text/javascript" src="/application/js/libs/blockly/_soy/soyutils.js"></script>
    <script type="text/javascript" src="/application/js/libs/blockly/common.js"></script>
    <script>
        BlocklyApps.LANG = "{{ locale_language_id }}";
    </script>
    <script type="text/javascript" src="/application/js/libs/blockly/maze/maze.js"></script>
    <script src="/application/js/hopscotch-0.1.2.min.js"></script>
    <script type="text/javascript" src="/application/js/help_game_vi.js"></script>
    <script src="/application/js/libs/angularjs/ui-bootstrap-tpls-0.7.0.min.js"></script>
    <script src="/application/js/libs/angularjs/angular-timer.min.js"></script>
    <script src="/application/js/libs/angularjs/ui-ace.min.js"></script>
    <script type="text/javascript">
        $("#blockyApp").html(mazepage.start({}, null,
                {lang: BlocklyApps.LANG,
                    level: Maze.LEVEL,
                    skin: Maze.SKIN_ID,
                    langSrc: BlocklyApps.languagePack()}));
    </script>
    <script type="text/javascript" src="/application/js/libs/blockly/blockly_compressed.js"></script>
    <script type="text/javascript" src="/application/js/libs/blockly/javascript_compressed.js"></script>
    <script type="text/javascript" src="/application/js/libs/blockly/msg/js/{{ locale_language_id }}.js"></script>
    <script type="text/javascript" src="/application/js/libs/blockly/maze/blocks.js"></script>
{% endblock %}
{% block mediaJS %}
    <script>
        angular.module('services.utility').constant('csrf_token', '{{ csrf_token() }}');
        $(function () {
            $("[rel='tooltip']").tooltip();
        });

    </script>
{% endblock %}