{% extends "main.html" %}
{% block mediaCSS %}
    <link rel="stylesheet" href="/application/css/info.css">
{% endblock %}
{% block content %}
    {% raw %}
        <div data-ng-controller="InfoCtrl" class="container highlight">
            <div id="current-curriculum" style="position: fixed; top: 100px;">
                <div class="curricula__item ui-card ui-card--solo">
                    <div class="curricula__item__section-logo">
                        <!-- Temporary hack for scotland TODO: Bob remove later-->
                        <div class="curricula__item__logo">
                            <div class="curricula__item__logo-image curricula__item__logo--generic curricula__item__logo--{{ course.title|lowercase }}"></div>
                        </div>
                    </div>
                    <div class="curricula__item__section-main curricula__item__panel">
                        <!-- H1 for track page. -->
                        <h1 class="curricula__item__title ui-card__title">
                            {{ course.title }}
                        </h1>
                        <div class="curricula__item__description">
                            {{ course.description }}
                        </div>
                    </div>
                    <div class="curricula__item__section-start">
                        <div class="curricula__item__start-now">
                            <a href="http://www.codecademy.com/tracks/jquery/resume">
                                <div type="button" class="btn btn-primary">
                                    Continue (1%)
                                </div>
                            </a></div>
                    </div>
                </div>
                <!--<a href="http://www.codecademy.com/glossary/html" class="curriculum__glossary-button">
                    HTML Glossary
                </a>
                <a href="http://www.codecademy.com/glossary/css" class="curriculum__glossary-button">
                    CSS Glossary
                </a>-->
            </div>
            <div id="curriculum-units" class="ui-counter" ng-repeat="lesson in course.lesson_keys">
                <div class="unit-item">
                    <h2 class="unit-item__title">
                        {{ lesson.description }}
                    </h2>
                    <article ng-repeat="lecture in lesson.lecture_keys">
                        <a href="/course/learn/viewer#!?lecture_id={{ lecture.Id }}"
                           class="course-item ui-card ui-card--grouped">
                            <div class="course-item__progress-indicator"></div>
                            <div class="course-item__info">
                                <h4 class="course-item__title ui-counter__item ui-card__title">
                                    {{ lecture.title }}
                                </h4>
                                <p class="course-item__entry">
                                   {{ lecture.description }}
                                </p>
                                <p style="margin-top: 5px;">
                                    <span class="pull-left badge">{{ lecture.time }}</span><span class="pull-right icon-level icon-level-{{ lecture.level }}"></span>
                                </p>
                            </div>
                        </a>
                    </article>
                </div>
            </div>
        </div>
    {% endraw %}
{% endblock %}
{% block pluginJS %}
    <script src="/application/js/libs/angularjs/ui-bootstrap-tpls-0.7.0.min.js"></script>
    <script src="/application/js/libs/angularjs/angular-animate.js"></script>
    <script src="/application/js/libs/angularjs/angular-route.js"></script>
{% endblock %}>