{% extends "main.html" %}
{% block mediaCSS %}
    <link rel="stylesheet" href="/application/css/learn.css">
    <link rel="stylesheet" href="/application/css/video-js.min.css">
    <link rel="stylesheet" href="/application/css/videojs.imageOverlay.css">
{% endblock %}
{% block content %}
    {% raw %}
        <div class="container">
            <div class="row highlight" data-ng-controller="LearnCtrl">
                <div class="col-xs-8">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title"><a href="#modal" class="second">Bài 1: Toán tử và biểu thức</a></h3>
                        </div>
                        <div class="panel-body">
                            <div class="tab-pane active" id="video">
                                <video id="video-content" src="" class="video-js vjs-default-skin aligncenter"
                                       preload="auto" width="100%" height="405"></video>
                            </div>
                        </div>
                    </div>
                    <div>
                        Nguyên lí học: Trong phần này, chúng ta sẽ tìm hiểu sơ lượt về ngôn ngữ Python và tiếp cận cách học với câu lệnh đơn giản IF - IF ELSE.
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <h3 class="panel-title"> Thực hành
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div ui-ace="{ theme:'twilight',
                        mode:lang.mode}" data-ng-model="code" id="code-content"></div>
                            </br>
                            <button type="button" class="btn btn-success" ng-click="runCode()"><span
                                    class="glyphicon glyphicon-play"></span> Chạy code
                            </button>
                            <button type="button" class="btn btn-warning" ng-clik="reSet()"><span
                                    class="glyphicon glyphicon-remove"></span> Làm lại
                            </button>
                            <button type="button" class="btn btn-default pull-right"><span
                                    class="glyphicon glyphicon-fullscreen"></span> Phóng to
                            </button>
                            <textarea class="form-control" cols="200" rows="8" data-ng-model="kq"> >> </textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endraw %}
{% endblock %}
{% block pluginJS %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/ace/1.1.01/ace.js"></script>
    <script src="/application/js/libs/angularjs/ui-ace.min.js"></script>
    <script src="/application/js/libs/angularjs/ui-bootstrap-tpls-0.7.0.min.js"></script>
    <script src="/application/js/libs/video-plugin/video.js"></script>
    <script src="/application/js/libs/video-plugin/vjs.youtube.js"></script>
    <script src="/application/js/libs/video-plugin/videojs.imageOverlay.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
    <script src="/application/js/libs/jsrepl/jsrepl.js" id="jsrepl-script"></script>
{% endblock %}