{% extends "main.html" %}
{% block mediaCSS %}
    <link rel="stylesheet" href="/application/css/learn.css">
    <link rel="stylesheet" type="text/css" href="/application/css/videogular/quiz.css">
    <link href="/application/css/hopscotch-0.1.1.css" rel="stylesheet">
    <link href="/application/css/angular-social.css" rel="stylesheet">
    <!--<link rel="stylesheet" type="text/css" href="/application/css/expandable_menu/expandable_menu.css">-->
{% endblock %}
{% block content %}
    {% raw %}
        <div class="container" data-ng-controller="LearnCtrl">
            <div class="row">
                <div class="alert alert-info alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <button id="startTourBtn" class="btn btn-large btn-primary">Hướng dẫn</button>
                </div>
            </div>
            <div class="row highlight">
                <div class="col-xs-8">
                    <div class="lesson_info overlay" ng-show="show"></div>
                    <div class="panel-group" style="margin-bottom: 0px" id="accordion">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <span class="pull-left" id="step-1"> <h3 class="panel-title"><a class="second"><i
                                        class="fa fa-laptop fa-lg"></i> {{ lecture.title }}</a></h3></span>
                            <span class="pull-right" id="step-2">
                               <a class="btn btn-default" ng-click="show=!show" ng-class="{show:show}">
                                   {{ getCurrentLectureIndex()+1 }}/{{ lectures.length }} <i class="fa fa-toggle-down"></i></a></span>

                                <div class="lesson_info popover fade bottom" ng-init="show=false" ng-class="{in:show}"
                                     ng-show="show" style="display: block; top: 40px;left: 450px;width: 330px;">
                                    <div class="arrow"></div>
                                    <h3 class="popover-title" style="display: none;"></h3>

                                    <div class="popover-content">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion"
                                                       href="#collapseOne">
                                                        Phần 1: Kiến thức cơ bản
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapseOne" class="panel-collapse collapse in">
                                                <div class="panel-body">
                                                    <ul class="list-group" data-ng-repeat="l in lectures">
                                                        <li ng-click="goLecture(l, $index)"
                                                            class="list-group-item list-group-item-info" hover-class
                                                            add-class="list-group-item-success"
                                                            remove-class="list-group-item-info"><i
                                                                class="fa fa-arrow-circle-o-right"></i>{{ l.title }}
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion"
                                                       href="#collapseTwo">
                                                        Phần 2: Python Nâng Cao
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapseTwo" class="panel-collapse collapse in">
                                                <div class="panel-body">
                                                    <ul class="list-group">
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </span>
                                <div class="clearfix"></div>
                            </div>
                            <div class="panel-body" id="video">
                            </div>
                        </div>
                        <div class="pull-left" style="padding-top: 20px"><span style="font-weight: bold">Đánh giá:</span>
                            <rating value="rate" max="max" readonly="isReadonly" on-hover="hoveringOver(value)"
                                    on-leave="overStar = null"></rating>
                            <span class="label"
                                  ng-class="{'label-warning': percent<30, 'label-info': percent>=30 && percent<70, 'label-success': percent>=70}"
                                  ng-show="overStar && !isReadonly">{{ percent }}%</span></div>
                        <div class="pull-right" style="padding-top: 20px">
                            <img src="https://cdn1.iconfinder.com/data/icons/sweetsocial/32/youtube.png" ng-click="ViewOnYoutube()" alt="Xem tại trang youtube" title="Xem tại trang youtube"/>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <ul class="nav nav-tabs" id="myTab">
                        <li class="active"><a href="#home" data-toggle="tab"><span
                                class="glyphicon glyphicon-info-sign"></span> Tóm tắt</a></li>
                        <li><a href="#profile" data-toggle="tab"><span class="glyphicon glyphicon-question-sign"></span>
                            Hỏi đáp</a></li>
                        <li><a href="#messages" data-toggle="tab"><span class="glyphicon glyphicon-download"></span>
                            Chia sẻ</a></li>
                    </ul>
                    <div class="tab-content border_info">
                        <div class="tab-pane fade active" id="home">{{ lecture.description }}</div>
                        <div class="tab-pane fade" id="profile">
                            <div id="gplus-cm"></div>
                        </div>
                        <div class="tab-pane fade" id="messages">
                            <ul ng-social-buttons
                                 data-url="current_url"
                                 data-title="current_title"
                                 data-description="current_description"
                                 data-image="'http://easylearncode.appspot.com/application/img/logo.png'">
                                <li>Share:</li>
                                <li class="ng-social-facebook">Facebook</li>
                                <li class="ng-social-google-plus">Google+</li>
                                <li class="ng-social-twitter">Twitter</li>
                                <li class="ng-social-pinterest">Pinterest</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="panel panel-success" id="step-4">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-terminal fa-lg"></i>Thực hành
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div ui-ace="{ theme:'chrome',
                        mode:lang.mode}" data-ng-model="code" id="code-content"></div>
                            </br>
                            <button type="button" class="btn btn-success" ng-click="runCode()" id="step-5"><span
                                    class="glyphicon glyphicon-play"></span> Chạy code
                            </button>
                            <button type="button" class="btn btn-default" ng-click="reSet()" id="step-6"><span
                                    class="glyphicon glyphicon-remove"></span> Làm lại
                            </button>
                            <button type="button" class="btn btn-default pull-right" id="step-7"><span
                                    class="glyphicon glyphicon-fullscreen"></span> Phóng to
                            </button>

                            <textarea class="form-control result_box" cols="200" rows="8" id="step-8" data-ng-model="kq"
                                      style="margin-top: 20px"> >> </textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endraw %}
{% endblock %}
{% block pluginJS %}
    <script type="text/javascript" src="http://apis.google.com/js/plusone.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ace/1.1.01/ace.js"></script>
    <script src="/application/js/libs/videogular/videogular.js"></script>
    <script src="/application/js/libs/angularjs/ui-ace.min.js"></script>
    <script src="/application/js/libs/angularjs/angular-sanitize.min.js"></script>
    <script src="/application/js/libs/angularjs/ui-bootstrap-tpls-0.7.0.min.js"></script>
    <script src="/application/js/libs/angularjs/angular-social.js"></script>
    <script src="/application/js/libs/videogular/videogular.js"></script>
    <script src="/application/js/libs/videogular/plugins/controls.js"></script>
    <script src="/application/js/libs/videogular/plugins/overlay-play.js"></script>
    <script src="/application/js/libs/videogular/plugins/buffering.js"></script>
    <script src="/application/js/libs/videogular/plugins/poster.js"></script>
    <script src="/application/js/libs/videogular/plugins/youtube.js"></script>
    <script src="/application/js/libs/videogular/plugins/quiz.js"></script>
    <script src="/application/js/libs/jsrepl/jsrepl.js" id="jsrepl-script"></script>
    <script src="/application/js/hopscotch-0.1.2.min.js"></script>
    <script src="/application/js/intro_learn_page.js"></script>
{% endblock %}