{% extends "main.html" %}
{% block mediaCSS %}
    <link rel="stylesheet" href="/application/css/learn.css" xmlns="http://www.w3.org/1999/html">
    <link rel="stylesheet" type="text/css" href="/application/css/videogular/quiz.css">
    <link href="/application/css/hopscotch-0.1.1.css" rel="stylesheet">
    <link href="/application/css/angular-social.css" rel="stylesheet">
    <!--<link rel="stylesheet" type="text/css" href="/application/css/expandable_menu/expandable_menu.css">-->
{% endblock %}
{% block content %}
    {% raw %}
        <div class="container" data-ng-controller="LearnCtrl">
            <div class="text-center" data-ng-show="!loaded">
                <div class="row row-gap-large"><img src="/application/img/tp_loading.gif"></div>
                <div class="row row-gap-small"><h4>Đang tải dữ liệu...</h4></div>
            </div>
            <div div data-ng-show="loaded">
                <div class="row">
                    <div class="alert alert-info alert-dismissable" style="height: 140px">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <div><img width="100" alt="logo" style="float: left; margin-right: 5px"
                                  src="/application/img/Olympic-Flame.ico"/>
                        </div>
                        Xin chào mừng các bạn đến với phân hệ học qua thực hành. Trong phân hệ này các bạn sẽ được học
                        qua
                        video dạy học thực hành trực tiếp, thực hành code trực tiếp trong khung code bên phải và được
                        làm
                        các bài test trong khi xem video. Qua các bài học các bạn sẽ từng bước học các kiến thức cơ bản
                        về
                        lập trình. Chúng tôi hi vọng khi học xong khóa học này thì các bạn sẽ thấy học việc học lập
                        trình
                        trở nên dễ dàng và thú vị hơn.
                        <a class="pull-right btn" id="startTourBtn"><img rel="tooltip" data-placement="bottom"
                                                                         title="Help"
                                                                         alt="help"
                                                                         src="/application/img/quiz/help.png"
                                                                         width="50"/> </a>
                    </div>
                </div>
                <div class="row highlight">
                    <div class="col-xs-8">
                        <div class="lesson_info overlay" ng-show="show"></div>
                        <div class="panel-group" style="margin-bottom: 0px" id="accordion">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                <span class="pull-left" id="step-1"> <h3 class="panel-title"><a class="second"><i
                                        class="fa fa-laptop fa-lg"></i> {{ lecture.title }}</a></h3></span>
                            <span class="pull-right" id="step-2">
                               <a class="btn btn-default" ng-click="show=!show" ng-class="{show:show}">
                                   {{ getCurrentLectureIndex()+1 }}/{{ lectures.length }} <i
                                       class="fa fa-toggle-down"></i></a></span>

                                    <div class="lesson_info popover fade bottom" ng-init="show=false"
                                         ng-class="{in:show}"
                                         ng-show="show" style="display: block; top: 40px;left: 450px;width: 330px;">
                                        <div class="arrow"></div>
                                        <h3 class="popover-title" style="display: none;"></h3>

                                        <div class="popover-content">
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h4 class="panel-title">
                                                        <a data-toggle="collapse" data-parent="#accordion"
                                                           href="#collapseOne">
                                                        </a>
                                                    </h4>
                                                </div>
                                                <div id="collapseOne" class="panel-collapse collapse in">
                                                    <div class="panel-body">
                                                        <ul class="list-group" data-ng-repeat="l in lectures">
                                                            <li ng-click="goLecture(l, $index)"
                                                                class="list-group-item list-group-item-info" hover-class
                                                                add-class="list-group-item-success"
                                                                remove-class="list-group-item-info"><i class="fa"
                                                                                                       ng-class="{'fa-check-circle-o': l._is_passed_lecture, 'fa-arrow-circle-o-right': l._is_current_lecture, 'fa-circle-o': !l._is_current_lecture&&!l._is_passed_lecture}"></i>{{ l.title }}
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h4 class="panel-title">
                                                        <a data-toggle="collapse" data-parent="#accordion"
                                                           href="#collapseTwo">
                                                        </a>
                                                    </h4>
                                                </div>
                                                <div id="collapseTwo" class="panel-collapse collapse in">
                                                    <div class="panel-body">
                                                        <ul class="list-group">
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    </span>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="panel-body">
                                    <div id="video"></div>
                                    <alert ng-show="showAlert" type="alert.type" close="showAlert=false"
                                           class="console-alert"><span ng-bind-html="alert.msg|to_trusted"></span>
                                    </alert>
                                </div>
                            </div>
                            <div class="pull-left" style="padding-top: 20px"><span
                                    style="font-weight: bold">Đánh giá:</span>
                                <rating value="rate" max="max" readonly="isReadonly"
                                        ng-class="{'cursor-rating':!isReadonly}"
                                        on-hover="hoveringOver(value)" ng-click="setRate()"
                                        on-leave="overStar = null"></rating>
                            <span class="label"
                                  ng-class="{'label-warning': percent<=40, 'label-info': percent>40}"
                                  ng-show="overStar && !isReadonly">{{ strRate }}</span>

                                <!--<div style="margin: 0 0 5px 0px">
                                    <span ng-click="editRate()" class="label label-warning">13/25</span> <span
                                        ng-click="editRate()" class="label label-info">12/25</span>
                                </div>-->
                            </div>
                            <div class="pull-right" style="padding-top: 15px;">
                                <ul ng-social-buttons
                                    data-url="current_url"
                                    data-title="current_title"
                                    data-description="current_description"
                                    data-image="'http://easylearncode.appspot.com/application/img/logo.png'">
                                    <li style="font-weight: bold">Chia sẻ:</li>
                                    <li class="ng-social-facebook" tooltip-placement="bottom"
                                        tooltip="Chia sẻ trên facebook">Facebook
                                    </li>
                                    <li class="ng-social-google-plus" tooltip-placement="bottom"
                                        tooltip="Chia sẻ trên google plus">Google+
                                    </li>
                                    <li class="ng-social-twitter" tooltip-placement="bottom"
                                        tooltip="Chia sẻ trên twitter">Twitter
                                    </li>
                                    <li class="ng-social-pinterest" tooltip-placement="bottom"
                                        tooltip="Chia sẻ trên printerest">Pinterest
                                    </li>
                                    <li style="cursor: pointer"><img
                                            src="https://cdn1.iconfinder.com/data/icons/sweetsocial/32/youtube.png"
                                            ng-click="ViewOnYoutube()"
                                            tooltip="Xem trên youtube" tooltip-placement="bottom"/></li>
                                </ul>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <ul class="nav nav-tabs" id="myTab">
                            <li class="active"><a href="#home" data-toggle="tab"><span
                                    class="glyphicon glyphicon-info-sign"></span> Tóm tắt</a></li>
                            <li><a href="#profile" data-toggle="tab"><span
                                    class="glyphicon glyphicon-question-sign"></span>
                                Hỏi đáp</a></li>
                        </ul>
                        <div class="tab-content border_info">
                            <div class="tab-pane fade active" id="home">{{ lecture.description }}</div>
                            <div class="tab-pane fade" id="profile">
                                <div disqus="lecture.Id"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="panel panel-success" id="step-4">
                            <div class="panel-heading">
                                <div class="panel-title"><span class="pull-left" id="step-1"> <h3 class="panel-title"><a
                                        class="second"><i
                                        class="fa fa-code fa-lg"></i> Phần thực hành</a></h3></span><span
                                        class="pull-right"><button
                                        type="button" class="btn btn-default"
                                        id="step-7"
                                        ng-click="toggleFullScreen()"
                                        ng-class="{'full-btn-full-screen':isEditorFullScreen}" rel="tooltip"
                                        data-placement="bottom"
                                        title="Phóng to khung code"><i
                                        class="glyphicon glyphicon-resize-full"
                                        ng-class="{'glyphicon-resize-small':isEditorFullScreen}"></i>
                                </button></span>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="panel-body">
                                <div ui-ace="{ theme:'chrome',
                        mode:'python', onLoad: aceLoaded}" data-ng-model="code" id="code-content"
                                     ng-class="{'editor-full-screen':isEditorFullScreen}"></div>
                                </br>
                                <button type="button" class="btn btn-success" ng-click="runCode()" rel="tooltip"
                                        data-placement="bottom" ng-class="{'run-btn-full-screen':isEditorFullScreen}"
                                        title="Thực thi code" style="margin-right: 5px;   ng-disabled="
                                !jsreplReady" id="step-5"><i
                                    class="glyphicon glyphicon-play"></i>
                                </button>
                                <button type="button" class="btn btn-default pull-right" ng-click="reSet()"
                                        ng-class="{'full-btn-clear-screen':isEditorFullScreen}" id="step-6"
                                        rel="tooltip"
                                        data-placement="bottom" title="Làm lại"><i
                                        class="fa fa-refresh"></i>
                                </button>
                                <textarea disabled id="console" style="margin-top: 10px"
                                          ng-class="{'full-screen':isEditorFullScreen}"
                                          bind-html-unsafe="kq"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endraw %}
{% endblock %}
{% block pluginJS %}
    <script src="//ace.c9.io/build/src-noconflict/ace.js"></script>
    <script src="//ace.c9.io/build/src-noconflict/ext-language_tools.js"></script>
    <script type="text/javascript" src="http://apis.google.com/js/plusone.js"></script>
    <script src="/application/js/libs/videogular/videogular.js"></script>
    <script src="/application/js/libs/angularjs/ui-ace.min.js"></script>
    <script src="/application/js/libs/angularjs/angular-sanitize.min.js"></script>
    <script src="/application/js/libs/angularjs/ui-bootstrap-tpls-0.7.0.min.js"></script>
    <script src="/application/js/libs/angularjs/angular-social.js"></script>
    <script src="/application/js/libs/angularjs/angular-disqus.min.js"></script>
    <script src="/application/js/libs/angularjs/angular-local-storage.min.js"></script>
    <script src="/application/js/libs/videogular/videogular.js"></script>
    <script src="/application/js/libs/videogular/plugins/controls.js"></script>
    <script src="/application/js/libs/videogular/plugins/overlay-play.js"></script>
    <script src="/application/js/libs/videogular/plugins/buffering.js"></script>
    <script src="/application/js/libs/videogular/plugins/poster.js"></script>
    <script src="/application/js/libs/videogular/plugins/youtube.js"></script>
    <script src="/application/js/libs/videogular/plugins/quiz.js"></script>
    <script src="/application/js/libs/jsrepl/jsrepl.js" id="jsrepl-script"></script>
    <script src="/application/js/hopscotch-0.1.2.min.js"></script>
    <script src="/application/js/intro_learn_page.js"></script>
{% endblock %}