{% extends base_layout %}
{% block mediaCss %}

{% endblock %}
{% block main_content %}
    {% block nav %}
        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    {#            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">#}
                    {#                <span class="sr-only">Toggle navigation</span>#}
                    {#                <span class="icon-bar"></span>#}
                    {#                <span class="icon-bar"></span>#}
                    {#                <span class="icon-bar"></span>#}
                    {#            </button>#}
                    <a class="navbar-brand" href="/">Easy Learn Code</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav" ng-controller="HeaderController">
                        <li ng-class="{ active: isActive('/')}"><a href="/">Trang chủ</a></li>
                        <li ng-class="{ active: isActive('/learn')}"><a href="/learn">Học</a></li>
                        <li ng-class="{ active: isActive('/contest')}"><a href="/contest">Đố vui hàng tuần</a></li>
                        <li ng-class="{ active: isActive('/practice')}"><a href="/practice">Học mà chơi</a></li>

                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        {% if user_id %}
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">@{{ username }} <b
                                        class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ uri_for("edit-profile") }}"> Thông tin cá nhân</a></li>
                                    <li><a href="#"> Hộp thư <span class="badge">7</span></a></li>
                                    <li class="divider"></li>
                                    <li><a href="{{ logout_url }}" target="_self"> Đăng xuất</a></li>
                                </ul>
                            </li>
                        {% else %}
                        <li ng-class="{ active: isActive('/login')}"><a href="/login">Đăng nhập</a></li>
                        <li ng-class="{ active: isActive('/register')}"><a href="/register">Đăng kí</a></li>
                        {% endif %}
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
        </div>
    {% endblock %}
    {% block content %}
    {% endblock %}
    {% block footer %}
        <div id="footer">
            <div class="container">
                <p class="text-muted credit pull-left"><a href="http://developer.hackerearth.com">HackerEarth</a></p>

                <p class="credit pull-right">© EasyLearnCode 2013</p>

                <p class="clear-fix"></p>
            </div>
        </div>
    {% endblock %}
{% endblock %}
