{% extends "main.html" %}
{% block mediaCSS %}
    <link href="/application/css/login.css" rel="stylesheet">
    <style>
        #recaptcha_area, #recaptcha_table {
            line-height: 0 !important;
        }

        #captcha {
            margin: 0 auto 10px;
            width: 318px;
        }

        #recaptcha_response_field {
            display: inline-block;
            height: 20px;
            line-height: 20px;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="container" style="margin-bottom: 50px">
        <div class="row">
            <div class="col-sm-6 col-md-4 col-sm-offset-3 col-md-offset-4">

                <div class="login-box clearfix animated flipInY">
                    <div class="page-icon animated bounceInDown">
                        <img src="/application/img/login-questionmark-icon.png" alt="Questionmark icon">
                    </div>
                    <div class="login-logo">
                        <a href="#"><img class="img-responsive" src="/application/img/logo.png" alt="Company Logo"></a>
                    </div>
                    <hr>
                    <div class="login-form">
                        {% if messages|safe %}
                            {% for message in messages %}
                                <div class="alert alert-{{ message[1]|safe }}">
                                    <button type="button" class="close" data-dismiss="alert">×</button>
                                    {{ message[0]|safe }}
                                </div>
                            {% endfor %}
                        {% endif %}
                        <form action="{{ url|safe }}" method="post" id="form_reset_password">
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">

                            <p>{% trans %}Username or Email{% endtrans %}</p>

                            <input name="email_or_username" type="text"
                                   placeholder="{{ _("Enter your")|safe }} {{ _("Username or Email")|safe }}"
                                   class="input-field" required="">

                            <div class="controls" id="captcha">
                                {{ captchahtml | safe }}
                            </div>
                            <button type="submit" class="btn btn-login btn-reset">{% trans %}Reset password{% endtrans %}</button>
                        </form>
                        <div class="login-links">
                            <a href="/login">
                                Already have an account? <strong>Sign In</strong>
                            </a>
                            <br>
                            <a href="/register">
                                Don't have an account? <strong>Sign Up</strong>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block mediaJS %}
    <script>
        $().ready(function () {
            $("#form_reset_password").validate({
                submitHandler: function (form) {
                    form.submit();
                },
                errorPlacement: function (error, element) {
                    element.parent().parent().addClass("error");
                }
            });
        });
    </script>
{% endblock %}
{#{% block header_title %}#}
{#    {% trans %}Forgot your password?{% endtrans %}#}
{#{% endblock %}#}
{##}
{#{% block content %}#}
{#    <script>#}
{#        var RecaptchaOptions = {#}
{#            theme : 'white'#}
{#        };#}
{#    </script>#}
{##}
{#    <form id="form_reset_password" action="{{ url|safe }}" method="post" class="well form-horizontal">#}
{#        <fieldset>#}
{#            <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">#}
{#            <div class="control-group">#}
{#                <label class="control-label" for="email_or_username">{% trans %}Username or Email{% endtrans %}:</label>#}
{#                <div class="controls">#}
{#                    <input class="input-xlarge focused required" name="email_or_username" id="email_or_username" type="text" placeholder="{{ _("Enter your")|safe }} {{ _("Username or Email")|safe }}" />#}
{#                </div>#}
{#            </div>#}
{#            <div class="control-group">#}
{#                <div class="controls" id="captcha">#}
{#                    {{captchahtml | safe}}#}
{#                </div>#}
{#            </div>#}
{#            <div class="form-actions">#}
{#                <button type="submit" class="btn btn-primary">{% trans %}Reset password{% endtrans %}</button>#}
{#            </div>#}
{#        </fieldset>#}
{#    </form>#}
{#{% endblock %}#}
{##}
{#{% block mediaJS %}#}
{#    <script>#}
{#        $().ready(function() {#}
{#            $("#form_reset_password").validate({#}
{#                submitHandler: function(form) {#}
{#                    form.submit();#}
{#                },#}
{#                errorPlacement: function(error, element) {#}
{#                    element.parent().parent().addClass("error");#}
{#                    error.addClass("help-inline").appendTo( element.parent() );#}
{#                }#}
{#            });#}
{#        });#}
{#    </script>#}
{#{% endblock %}#}