{% extends "main.html" %}
{% block mediaCSS %}
    <link href="/application/css/login.css" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="container" style="margin-bottom: 50px">
        <div class="row">
            <div class="col-sm-6 col-md-4 col-sm-offset-3 col-md-offset-4">

                <div class="login-box clearfix animated flipInY">
                    <div class="page-icon animated bounceInDown">
                        <img src="/application/img/login-questionmark-icon.png" alt="Questionmark icon">
                    </div>
                    <div class="login-logo">
                        <a href="#"><img class="img-responsive" src="/application/img/logo.png" alt="Company Logo"></a>
                    </div>
                    <hr>
                    <div class="login-form">
                        <div class="alert alert-error hide">
                            <button type="button" class="close" data-dismiss="alert">×</button>
                            <h4>Error!</h4>
                            Your Error Message goes here
                        </div>
                        <form action="#" method="get">
                            <p>Enter your email address below and we'll send a special reset password link to your
                                inbox.</p>

                            <input type="email" placeholder="Email" class="input-field" required="">

                            <button type="submit" class="btn btn-login btn-reset">Reset password</button>
                        </form>
                        <div class="login-links">
                            <a href="/login">
                                Already have an account? <strong>Sign In</strong>
                            </a>
                            <br>
                            <a href="/register">
                                Don't have an account? <strong>Sign Up</strong>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{#{% block header_title %}#}
{#    {% trans %}Forgot your password?{% endtrans %}#}
{#{% endblock %}#}
{##}
{#{% block content %}#}
{#    <script>#}
{#        var RecaptchaOptions = {#}
{#            theme : 'white'#}
{#        };#}
{#    </script>#}
{##}
{#    <form id="form_reset_password" action="{{ url|safe }}" method="post" class="well form-horizontal">#}
{#        <fieldset>#}
{#            <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">#}
{#            <div class="control-group">#}
{#                <label class="control-label" for="email_or_username">{% trans %}Username or Email{% endtrans %}:</label>#}
{#                <div class="controls">#}
{#                    <input class="input-xlarge focused required" name="email_or_username" id="email_or_username" type="text" placeholder="{{ _("Enter your")|safe }} {{ _("Username or Email")|safe }}" />#}
{#                </div>#}
{#            </div>#}
{#            <div class="control-group">#}
{#                <div class="controls" id="captcha">#}
{#                    {{captchahtml | safe}}#}
{#                </div>#}
{#            </div>#}
{#            <div class="form-actions">#}
{#                <button type="submit" class="btn btn-primary">{% trans %}Reset password{% endtrans %}</button>#}
{#            </div>#}
{#        </fieldset>#}
{#    </form>#}
{#{% endblock %}#}
{##}
{#{% block mediaJS %}#}
{#    <script>#}
{#        $().ready(function() {#}
{#            $("#form_reset_password").validate({#}
{#                submitHandler: function(form) {#}
{#                    form.submit();#}
{#                },#}
{#                errorPlacement: function(error, element) {#}
{#                    element.parent().parent().addClass("error");#}
{#                    error.addClass("help-inline").appendTo( element.parent() );#}
{#                }#}
{#            });#}
{#        });#}
{#    </script>#}
{#{% endblock %}#}