{% extends "main.html" %}
{% block mediaCSS %}
    <link href="/application/css/practise.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block content %}
    {% raw %}
    <div class="container" data-ng-controller="PractiseCtrl">
        <div class="row">
            <div class="col-md-12 highlight">
                <div class="row">
                    <div class="col-md-8">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                            <span class="pull-left">
                                <h3 class="panel-title"><i class="fa fa-terminal fa-lg"></i> Code window</h3>
                            </span>

                            <span class="pull-right">

                                <a class="btn btn-success">
                                    <i class="fa fa-play"></i> Run</a>
                                <a class="btn btn-default"><i class="fa fa-code"></i> Visualaztion</a>
                                <a class="btn btn-default">
                                    <i class="fa fa-laptop"></i> Full Screen</a>
                            </span>

                                <div class="clearfix"></div>
                            </div>
                            <div>

                            </div>
                            <div class="panel-body">
                                <div ui-ace="{theme:'chrome', mode:exercise.lang}" data-ng-model="exercise.source">
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-4">
                        <div class="panel panel-success">
                            <div class="panel-heading">
                                <span class="pull-left"><h3 class="panel-title"><i class="fa fa-tasks fa-lg"></i> Python
                                    syntax</h3></span>
                            <span class="pull-right">
                                <a class="btn btn-default">
                                    1/10 <i class="fa fa-toggle-down"></i></a>
                            </span>

                                <div class="clearfix"></div>
                            </div>
                            <div class="panel-body">
                                <div class="wrap_introduction">
                                    <div class="article__header">
                                        <h2>Welcome to the Flying Circus</h2>
                                    </div>
                                    <div class="article__content">
                                        <p>Python is a powerful, flexible programming language you can use in
                                            web/Internet
                                            development, to write desktop graphical user interfaces (GUIs), create
                                            games,
                                            and
                                            much more. Python is:</p>

                                        <p>•&nbsp;<strong>High-level</strong>, meaning reading and writing Python is
                                            really
                                            easy—it looks a lot like regular English!</p>

                                        <p>•&nbsp;<strong>Interpreted</strong>, meaning you don't need a compiler to
                                            write
                                            and
                                            run Python! You can write it here at Codecademy or even on your own computer
                                            (many
                                            are shipped with the Python <strong>interpreter</strong> built in—we'll get
                                            to
                                            the
                                            interpreter later in this lesson).</p>

                                        <p>•&nbsp;<strong>Object-oriented</strong>, meaning it allows users to
                                            manipulate
                                            data
                                            structures called <strong>objects</strong> in order to build and execute
                                            programs.
                                            We'll learn more about objects later.</p>

                                        <p>• <strong>Fun to use</strong>. Python is named after <em>Monty Python's
                                            Flying
                                            Circus</em>, and example code and tutorials often refer to the show and
                                            include
                                            jokes in order to make learning the language more interesting.</p>

                                        <p>This course assumes no previous knowledge of Python in particular or
                                            programming/computer science in general.</p>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-4" style="height: 300px"></div>
                </div>

            </div>

        </div>
    </div>
    {% endraw %}
{% endblock %}
{% block pluginJS %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/ace/1.1.01/ace.js"></script>
    <script src="/application/js/libs/angularjs/ui-ace.min.js"></script>
    <script src="/application/js/libs/angularjs/ui-bootstrap-tpls-0.7.0.min.js"></script>
{% endblock %}