{% extends "main.html" %}
{% block mediaCSS %}
    <link rel="stylesheet" href="/application/css/teacher.css" xmlns="http://www.w3.org/1999/html">
    <link rel="stylesheet" type="text/css" href="/application/css/videogular/quiz.css">
{% endblock %}
{% block content %}
    <div ng-controller="BreadCrumbsCtrl" class="breadcrumb container">
        <a href="{{ uri_for("teacher-page") }}">Quản lý khóa học</a>
    {% raw %}
    <li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" >
      <a ng-if="!$last" ng-href="#!{{ breadcrumb.path }}" ng-bind="breadcrumb.label" class="margin-right-xs"></a>
      <span ng-if="!$last" class="divider"></span>
      <span ng-if="$last" ng-bind="breadcrumb.label"></span>
    </li>
    {% endraw %}</div>
    <ng-view></ng-view>
{% endblock %}
{% block pluginJS %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/ace/1.1.01/ace.js"></script>
    <script src="/application/js/libs/angularjs/ui-ace.min.js"></script>
    <script src="/application/js/libs/angularjs/ui-bootstrap-tpls-0.7.0.min.js"></script>
    <script src="/application/js/libs/jqconsole.min.js" charset="UTF-8"></script>
    <script src="/application/js/libs/jsrepl/jsrepl.js" id="jsrepl-script"></script>
    <script src="/admin/js/libs/angular/ng-breadcrumbs.js"></script>
    <script>
        angular.module('angularjsFormBuilder', ["ui.bootstrap", "ui.ace"]);
    </script>
    <script src="/admin/js/libs/angular/ng-breadcrumbs.js"></script>
    <script src="/admin/js/angular-resource.min.js"></script>
    <script src="/application/js/libs/angularjs/angularjs-form-builder/directives/form-directive.js"></script>
    <script src="/application/js/libs/angularjs/angularjs-form-builder/directives/field-directive.js"></script>
    <script src="/application/js/libs/angularjs/ui-ace.min.js"></script>
    <script src="/application/js/libs/angularjs/ui-ace.min.js"></script>
    <script src="/application/js/libs/videogular/videogular.js"></script>
    <script src="/application/js/libs/angularjs/angular-sanitize.min.js"></script>
    <script src="/application/js/libs/videogular/videogular.js"></script>
    <script src="/application/js/libs/videogular/plugins/controls.js"></script>
    <script src="/application/js/libs/videogular/plugins/overlay-play.js"></script>
    <script src="/application/js/libs/videogular/plugins/buffering.js"></script>
    <script src="/application/js/libs/videogular/plugins/poster.js"></script>
    <script src="/application/js/libs/videogular/plugins/youtube.js"></script>
    <script src="/application/js/libs/videogular/plugins/quiz.js"></script>
{% endblock %}