{% extends "admin/admin_base.html" %}
{% block main_content %}
    <h1>Feedback</h1>
    <br>
    <div class="row">
        {% for feedback in feedbacks %}
            <div class="col-md-4">
                <div style="text-align: center">
                    <img src="{{ feedback.img }}"
                         alt="" style="max-height: 231px;max-width: 346px;">
                    <p>{{ feedback.note }}</p>
                </div>
            </div>
            {% if loop.index % 3 == 0 %}
                </div>
                <div class="row">
            {% endif %}
        {% endfor %}
        </div>
{% endblock %}