<div class="transition-faded" data-ng-show="loaded">
<div class="row row-gap-medium">
    <div class="col-md-12">
        <div class="col-md-12 rainbow banner-row">
            <h2 class="h-slim">Khóa học của hệ thống</h2>

            <p class="caption">Chúng tôi có tất cả các khóa học kèm theo video hướng dẫn, bài tập thực hành, hỗ trợ trực tiếp..</p>
        </div>
    </div>
</div>
<div data-course-summary data-ng-repeat="course in fullCourses" data-course="course" data-catagories="extraCatagories" />
</div>