<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-12 highlight">
            <div class="row">
                <div class="col-md-8">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Câu hỏi:</h3>
                        </div>
                        <div class="panel-body">
                            Nội dung câu hỏi
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <h3 class="panel-title">Bảng thành tích</h3>
                        </div>
                        <div class="panel-body">
                            <ul class="list-group">
                                <li class="list-group-item">1. Phạm Ngọc Quang Nam</li>
                                <li class="list-group-item">2. Nguyễn Phan Phương Thanh</li>
                                <li class="list-group-item">3. Huỳnh Thị Phi Thân</li>
                                <li class="list-group-item">4. Nguyễn Ngọc Hân</li>
                                <li class="list-group-item">5. Phạm Thị Ngọc Diệp</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-12 highlight">
            <tabset>
                <tab heading="Python"><div ui-ace="{ theme:'twilight',
  mode: 'python'}">
&#39;&#39;&#39;
# Read input from stdin and provide input before running code

name = raw_input(&#39;What is your name?\n&#39;)
print &#39;Hi, %s.&#39; % name
&#39;&#39;&#39;
print &#39;Hello World!&#39;
  </div></tab>
                <tab heading="Java"><div ui-ace="{ theme:'twilight',
  mode: 'java'}">
/* IMPORTANT: class must not be public. */

/*
 * uncomment this if you want to read input.
import java.io.BufferedReader;
import java.io.InputStreamReader;
*/

class TestClass {
    public static void main(String args[] ) throws Exception {
        /*
         * Read input from stdin and provide input before running

        BufferedReader br = new BufferedReader(new InputStreamReader(System.in));
        String line = br.readLine();
        int N = Integer.parseInt(line);
        for (int i = 0; i &lt; N; i++) {
            System.out.println(&quot;hello world&quot;);
        }
        */

        System.out.println(&quot;Hello World!&quot;);
    }
}
  </div></tab>
                <tab heading="C++"><div ui-ace="{ theme:'twilight',
  mode: 'c_cpp'}">
#include &lt;iostream&gt;
using namespace std;

int main()
{
    cout &lt;&lt; &quot;Hello World!&quot; &lt;&lt; endl;
    return 0;
}
  </div></tab>
            </tabset>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-12 highlight">
            <button type="button" class="btn btn-lg btn-success">Submit</button>
            <button type="button" class="btn btn-lg btn-warning">Reset</button>
        </div>
    </div>
</div>