<div class="container">
    <div clas="row">
        <div class="col-md-12 highlight">
            <div clas="row">
                <div class="col-md-8">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Câu hỏi:</h3>
                        </div>
                        <div class="panel-body">
                            <div ui-ace="{theme:'Chrome', mode:'python'}"></div>
                        </div>
                    </div>

                </div>
                <div class="col-md-4" style="height: 300px"></div>
                <div class="col-md-4" style="height: 300px"></div></div>

        </div>

    </div>
</div>