<h2>Exercise checkpoint manage of exercise project {{ exercise_project.title }}</h2>
<div class="row-fluid sortable">
    <div class="box span12">
        <div class="box-header" data-original-title>
            <h2><i class="icon-user"></i><span class="break"></span>Exercise Checkpoint</h2>

            <div class="box-icon">
                <a href="#" class="btn-setting"><i class="icon-wrench"></i></a>
                <a href="#" ng-click="showAddModal()"><i class="icon-plus"></i></a>
                <a href="#" class="btn-minimize"><i class="icon-chevron-up"></i></a>
                <a href="#" class="btn-close"><i class="icon-remove"></i></a>
            </div>
        </div>
        <div class="box-content">
            <table class="table table-striped table-bordered bootstrap-datatable">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Index</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="checkpoint in exercise_project.checkpoints">
                    <td>{{ checkpoint.title }}</td>
                    <td class="center">{{ checkpoint.index }}</td>
                    <td class="center">
                        <a class="btn btn-info" ng-click="showEditModal(checkpoint)">
                            <i class="icon-edit icon-white"></i>
                        </a>
                        <a class="btn btn-danger" ng-click="delete(checkpoint)">
                            <i class="icon-trash icon-white"></i>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!--/span-->

</div><!--/row-->