h1, .h1 {
    color: #294860 !important;
    line-height: 1.6 !important;
}

h1, .h1 {
    font-size: 28px !important;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Whitney SSm A", "Whitney SSm B", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-weight: 700;
    line-height: 1.1;
    color: inherit;
}

.nav.nav-stacked {
    border-right: 1px solid #dcdcdc;
}