.highlight {
    background-color: #F7F7F9;
    border: 1px solid #E1E1E8;
    border-radius: 4px;
    margin-bottom: 14px;
    padding: 9px 14px;
}

.ace_editor {
    height: 200px;
    font-size: 16px !important;
}

#fountainTextG {
    width: 240px;
}

.fountainTextG {
    color: #113F80;
    font-family: Arial;
    font-size: 25px;
    text-decoration: none;
    font-weight: normal;
    font-style: normal;
    float: left;
    -moz-animation-name: bounce_fountainTextG;
    -moz-animation-duration: 2.08s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: linear;
    -moz-transform: scale(.5);
    -webkit-animation-name: bounce_fountainTextG;
    -webkit-animation-duration: 2.08s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: linear;
    -webkit-transform: scale(.5);
    -ms-animation-name: bounce_fountainTextG;
    -ms-animation-duration: 2.08s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-direction: linear;
    -ms-transform: scale(.5);
    -o-animation-name: bounce_fountainTextG;
    -o-animation-duration: 2.08s;
    -o-animation-iteration-count: infinite;
    -o-animation-direction: linear;
    -o-transform: scale(.5);
    animation-name: bounce_fountainTextG;
    animation-duration: 2.08s;
    animation-iteration-count: infinite;
    animation-direction: linear;
    transform: scale(.5);
}

#fountainTextG_1 {
    -moz-animation-delay: 0.52s;
    -webkit-animation-delay: 0.52s;
    -ms-animation-delay: 0.52s;
    -o-animation-delay: 0.52s;
    animation-delay: 0.52s;
}

#fountainTextG_2 {
    -moz-animation-delay: 0.65s;
    -webkit-animation-delay: 0.65s;
    -ms-animation-delay: 0.65s;
    -o-animation-delay: 0.65s;
    animation-delay: 0.65s;
}

#fountainTextG_3 {
    -moz-animation-delay: 0.78s;
    -webkit-animation-delay: 0.78s;
    -ms-animation-delay: 0.78s;
    -o-animation-delay: 0.78s;
    animation-delay: 0.78s;
}

#fountainTextG_4 {
    -moz-animation-delay: 0.91s;
    -webkit-animation-delay: 0.91s;
    -ms-animation-delay: 0.91s;
    -o-animation-delay: 0.91s;
    animation-delay: 0.91s;
}

#fountainTextG_5 {
    -moz-animation-delay: 1.04s;
    -webkit-animation-delay: 1.04s;
    -ms-animation-delay: 1.04s;
    -o-animation-delay: 1.04s;
    animation-delay: 1.04s;
}

#fountainTextG_6 {
    -moz-animation-delay: 1.17s;
    -webkit-animation-delay: 1.17s;
    -ms-animation-delay: 1.17s;
    -o-animation-delay: 1.17s;
    animation-delay: 1.17s;
}

#fountainTextG_7 {
    -moz-animation-delay: 1.3s;
    -webkit-animation-delay: 1.3s;
    -ms-animation-delay: 1.3s;
    -o-animation-delay: 1.3s;
    animation-delay: 1.3s;
}

#fountainTextG_8 {
    -moz-animation-delay: 1.43s;
    -webkit-animation-delay: 1.43s;
    -ms-animation-delay: 1.43s;
    -o-animation-delay: 1.43s;
    animation-delay: 1.43s;
}

#fountainTextG_9 {
    -moz-animation-delay: 1.56s;
    -webkit-animation-delay: 1.56s;
    -ms-animation-delay: 1.56s;
    -o-animation-delay: 1.56s;
    animation-delay: 1.56s;
}

#fountainTextG_10 {
    -moz-animation-delay: 1.69s;
    -webkit-animation-delay: 1.69s;
    -ms-animation-delay: 1.69s;
    -o-animation-delay: 1.69s;
    animation-delay: 1.69s;
}

#fountainTextG_11 {
    -moz-animation-delay: 1.82s;
    -webkit-animation-delay: 1.82s;
    -ms-animation-delay: 1.82s;
    -o-animation-delay: 1.82s;
    animation-delay: 1.82s;
}

#fountainTextG_12 {
    -moz-animation-delay: 1.95s;
    -webkit-animation-delay: 1.95s;
    -ms-animation-delay: 1.95s;
    -o-animation-delay: 1.95s;
    animation-delay: 1.95s;
}

@-moz-keyframes bounce_fountainTextG {
    0% {
        -moz-transform: scale(1);
        color: #113F80;
    }

    100% {
        -moz-transform: scale(.5);
        color: #FFFFFF;
    }

}

@-webkit-keyframes bounce_fountainTextG {
    0% {
        -webkit-transform: scale(1);
        color: #113F80;
    }

    100% {
        -webkit-transform: scale(.5);
        color: #FFFFFF;
    }

}

@-ms-keyframes bounce_fountainTextG {
    0% {
        -ms-transform: scale(1);
        color: #113F80;
    }

    100% {
        -ms-transform: scale(.5);
        color: #FFFFFF;
    }

}

@-o-keyframes bounce_fountainTextG {
    0% {
        -o-transform: scale(1);
        color: #113F80;
    }

    100% {
        -o-transform: scale(.5);
        color: #FFFFFF;
    }

}

@keyframes bounce_fountainTextG {
    0% {
        transform: scale(1);
        color: #113F80;
    }

    100% {
        transform: scale(.5);
        color: #FFFFFF;
    }

}
div .profileSteps{
    margin-top: 5px;
    margin-left: 80px;
}
div.profileStep {
	position:relative;
	float:left;
	width:100px;height:40px;
}
div.profileStep .connect {
	position:absolute;
	top:10px;left:0;
	width:80px;height:10px;
	margin-left:-5px;
	background-color:#24d4ec;
	-webkit-border-radius:5px;
	border-radius:5px;
}
div.profileStep .icon {
	position:absolute;
	top:0;right:0;
	width:30px;height:30px;
	background-color:#24d4ec;
	-webkit-border-radius:15px;
	border-radius:15px;

	color:#fff;
	font-size:16px;
	line-height:30px;
	text-align:center;
}
div.profileStep .info {
	position:absolute;
	bottom:0;left:0;
	width:100px;
	color:#24d4ec;
	font-size:12px;
	line-height:20px;
	text-align:center;
}
div.profileStepPassive .connect {
	background-color:#ffffff;
}
div.profileStepPassive .icon {
	background-color:#ffffff;
    color:#24d4ec;
}
.clock
{
    font-family: 'Orbitron', sans-serif;
    font-size: 13px;
    padding: 10px;
}
.glyphicon-ok
{
    color: blue;
}
.glyphicon-remove
{
    color: #ff0000;
}
.yellow
{
    color: #FFCC00;
}
.blue
{
    color: blue;
}
.ac a
{
    color: #ffffff;
    font-weight: bold;
}
.ac a:hover
{
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
}
.ac
{
    box-shadow: 0px 0px 15px rgba(251, 94, 77, 0.78);
    z-index: 2!important;
}