#BODY_1 {
    color: rgb(49, 49, 49);
    height: 871.53125px;
    min-width: 768px;
    width: 1351px;
    background: rgb(242, 242, 242) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(49, 49, 49);
    font: normal normal normal 10px/15px OpenSansRegular, Helvetica, Arial, sans-serif;
    margin: 0px;
    outline: rgb(49, 49, 49) none 0px;
    padding: 0px 0px 50px;
}/*#BODY_1*/

#DIV_2 {
    color: rgb(49, 49, 49);
    height: 324.53125px;
    position: relative;
    width: 1351px;
    border: 0px none rgb(49, 49, 49);
    font: normal normal normal 10px/15px OpenSansRegular, Helvetica, Arial, sans-serif;
    margin: 20px 0px 40px;
    outline: rgb(49, 49, 49) none 0px;
}/*#DIV_2*/

#DIV_2:after {
    clear: both;
    color: rgb(49, 49, 49);
    display: table;
    width: 1px;
    content: '';
    border: 0px none rgb(49, 49, 49);
    font: normal normal normal 10px/15px OpenSansRegular, Helvetica, Arial, sans-serif;
    outline: rgb(49, 49, 49) none 0px;
}/*#DIV_2:after*/

#DIV_2:before {
    color: rgb(49, 49, 49);
    display: table;
    width: 1px;
    content: '';
    border: 0px none rgb(49, 49, 49);
    font: normal normal normal 10px/15px OpenSansRegular, Helvetica, Arial, sans-serif;
    outline: rgb(49, 49, 49) none 0px;
}/*#DIV_2:before*/

#DIV_3 {
    box-sizing: border-box;
    color: rgb(49, 49, 49);
    height: 324.53125px;
    max-width: 1150px;
    min-width: 768px;
    width: 1150px;
    border: 0px none rgb(49, 49, 49);
    font: normal normal normal 10px/15px OpenSansRegular, Helvetica, Arial, sans-serif;
    margin: 0px 100.5px;
    outline: rgb(49, 49, 49) none 0px;
    padding: 0px 80px;
}/*#DIV_3*/

#DIV_3:after {
    clear: both;
    color: rgb(49, 49, 49);
    display: table;
    width: 1px;
    content: '';
    border: 0px none rgb(49, 49, 49);
    font: normal normal normal 10px/15px OpenSansRegular, Helvetica, Arial, sans-serif;
    outline: rgb(49, 49, 49) none 0px;
}/*#DIV_3:after*/

#DIV_3:before {
    color: rgb(49, 49, 49);
    display: table;
    width: 1px;
    content: '';
    border: 0px none rgb(49, 49, 49);
    font: normal normal normal 10px/15px OpenSansRegular, Helvetica, Arial, sans-serif;
    outline: rgb(49, 49, 49) none 0px;
}/*#DIV_3:before*/

#DIV_4 {
    box-sizing: border-box;
    color: rgb(49, 49, 49);
    float: left;
    height: 304.53125px;
    position: relative;
    width: 495px;
    border: 0px none rgb(49, 49, 49);
    font: normal normal normal 10px/15px OpenSansRegular, Helvetica, Arial, sans-serif;
    margin: 0px 0px 20px;
    outline: rgb(49, 49, 49) none 0px;
}/*#DIV_4*/

#A_5 {
    color: rgb(69, 155, 231);
    text-decoration: none;
    border: 0px none rgb(69, 155, 231);
    font: normal normal normal 10px/15px OpenSansRegular, Helvetica, Arial, sans-serif;
    outline: rgb(69, 155, 231) none 0px;
}/*#A_5*/

#B_6 {
    background-position: 50% 50%;
    box-shadow: rgba(0, 0, 0, 0.298039) 0px 0px 0px 8px;
    color: rgb(69, 155, 231);
    display: block;
    height: 70px;
    left: 247.5px;
    position: absolute;
    top: 264px;
    width: 70px;
    z-index: 11;
    background: rgba(0, 0, 0, 0) url(https://d1740rtcumxhiu.cloudfront.net/assets/btn-play-4651facb91c95791a8e55623f3d6cf11.png) no-repeat scroll 50% 50% / auto padding-box border-box;
    border: 0px none rgb(69, 155, 231);
    border-radius: 50% 50% 50% 50%;
    font: normal normal normal 10px/15px OpenSansRegular, Helvetica, Arial, sans-serif;
    margin: -45px 0px 0px -40px;
    outline: rgb(69, 155, 231) none 0px;
    overflow: hidden;
    transition: box-shadow 0.3s ease-in-out 0s;
}/*#B_6*/

#B_6:before {
    color: rgb(69, 155, 231);
    display: block;
    height: 105px;
    width: 0px;
    content: '';
    border: 0px none rgb(69, 155, 231);
    font: normal normal normal 10px/15px OpenSansRegular, Helvetica, Arial, sans-serif;
    outline: rgb(69, 155, 231) none 0px;
}/*#B_6:before*/

#IMG_7 {
    color: rgb(69, 155, 231);
    display: block;
    height: 304.53125px;
    max-width: 100%;
    position: relative;
    width: 495px;
    z-index: 10;
    border: 0px none rgb(69, 155, 231);
    font: normal normal normal 10px/15px OpenSansRegular, Helvetica, Arial, sans-serif;
    outline: rgb(69, 155, 231) none 0px;
}/*#IMG_7*/

#DIV_8 {
    box-sizing: border-box;
    color: rgb(49, 49, 49);
    float: right;
    height: 207px;
    width: 495px;
    border: 0px none rgb(49, 49, 49);
    font: normal normal normal 10px/15px OpenSansRegular, Helvetica, Arial, sans-serif;
    margin: 0px 0px 20px;
    outline: rgb(49, 49, 49) none 0px;
    padding: 0px 0px 0px 19.796875px;
}/*#DIV_8*/

#H1_9 {
    color: rgb(49, 49, 49);
    height: 90px;
    text-align: left;
    width: 475.203125px;
    border: 0px none rgb(49, 49, 49);
    font: normal normal normal 38px/45.59375px OpenSansLight, Helvetica, Arial, sans-serif;
    margin: 30px 0px 20px;
    outline: rgb(49, 49, 49) none 0px;
}/*#H1_9*/

#B_10 {
    color: rgb(49, 49, 49);
    display: block;
    height: 45px;
    text-align: left;
    width: 475.203125px;
    border: 0px none rgb(49, 49, 49);
    font: normal normal normal 38px/45.59375px OpenSansLight, Helvetica, Arial, sans-serif;
    outline: rgb(49, 49, 49) none 0px;
}/*#B_10*/

#A_11 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: block;
    height: 57px;
    text-align: center;
    text-decoration: none;
    width: 475.203125px;
    background: rgb(69, 155, 231) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    font: normal normal bold 24px/normal OpenSansRegular, Helvetica, Arial, sans-serif;
    margin: 0px 0px 10px;
    outline: rgb(255, 255, 255) none 0px;
    padding: 12px 24px;
}/*#A_11*/

#DIV_12 {
    color: rgb(49, 49, 49);
    height: 544px;
    left: 0px;
    max-height: 600px;
    max-width: 960px;
    opacity: 0;
    position: absolute;
    right: 0px;
    top: 100px;
    visibility: hidden;
    width: 960px;
    z-index: 12;
    border: 0px none rgb(49, 49, 49);
    font: normal normal normal 10px/15px OpenSansRegular, Helvetica, Arial, sans-serif;
    margin: 0px 195.5px;
    outline: rgb(49, 49, 49) none 0px;
    overflow: hidden;
    transition: top 0.2s ease-in-out 0s, opacity 0.2s ease-in-out 0s, visibility 0.2s ease-in-out 0s;
}/*#DIV_12*/

#A_13 {
    box-shadow: rgba(0, 0, 0, 0.298039) 0px 0px 0px 6px;
    color: rgb(237, 179, 48);
    display: block;
    height: 0px;
    position: absolute;
    right: 20px;
    text-align: center;
    text-decoration: none;
    top: 20px;
    visibility: hidden;
    width: 40px;
    z-index: 13;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(237, 179, 48);
    border-radius: 50% 50% 50% 50%;
    font: normal normal bold 30px/34px OpenSansRegular, Helvetica, Arial, sans-serif;
    outline: rgb(237, 179, 48) none 0px;
    overflow: hidden;
    transition: box-shadow 0.2s ease-in-out 0s;
}/*#A_13*/

#VIDEO_14 {
    color: rgb(49, 49, 49);
    height: 540px;
    visibility: hidden;
    width: 960px;
    border: 0px none rgb(49, 49, 49);
    font: normal normal normal 10px/15px OpenSansRegular, Helvetica, Arial, sans-serif;
    outline: rgb(49, 49, 49) none 0px;
}/*#VIDEO_14*/

#SOURCE_15, #SOURCE_16 {
    color: rgb(49, 49, 49);
    visibility: hidden;
    border: 0px none rgb(49, 49, 49);
    font: normal normal normal 10px/15px OpenSansRegular, Helvetica, Arial, sans-serif;
    outline: rgb(49, 49, 49) none 0px;
}/*#SOURCE_15, #SOURCE_16*/

#SOURCE_17 {
    color: rgb(49, 49, 49);
    visibility: hidden;
    border: 0px none rgb(49, 49, 49);
    font: normal normal normal 10px/15px OpenSansRegular, Helvetica, Arial, sans-serif;
    outline: rgb(49, 49, 49) none 0px;
}/*#SOURCE_17*/

#DIV_18 {
    bottom: 0px;
    color: rgb(49, 49, 49);
    left: 0px;
    opacity: 0;
    position: absolute;
    right: 0px;
    top: 0px;
    visibility: hidden;
    width: 1351px;
    z-index: 11;
    background: rgb(69, 155, 231) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(49, 49, 49);
    font: normal normal normal 10px/15px OpenSansRegular, Helvetica, Arial, sans-serif;
    outline: rgb(49, 49, 49) none 0px;
    overflow: hidden;
    transition: opacity 0.4s ease-in-out 0s, visibility 0.2s ease-in-out 0s;
}/*#DIV_18*/

#DIV_19 {
    color: rgb(49, 49, 49);
    height: 70px;
    position: relative;
    width: 1351px;
    z-index: 1;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    border-top: 1px solid rgb(222, 222, 222);
    border-right: 0px none rgb(49, 49, 49);
    border-bottom: 1px solid rgb(222, 222, 222);
    border-left: 0px none rgb(49, 49, 49);
    font: normal normal normal 10px/15px OpenSansRegular, Helvetica, Arial, sans-serif;
    margin: -105px 0px 40px;
    outline: rgb(49, 49, 49) none 0px;
}/*#DIV_19*/

#DIV_19:after {
    clear: both;
    color: rgb(49, 49, 49);
    display: table;
    width: 1px;
    content: '';
    border: 0px none rgb(49, 49, 49);
    font: normal normal normal 10px/15px OpenSansRegular, Helvetica, Arial, sans-serif;
    outline: rgb(49, 49, 49) none 0px;
}/*#DIV_19:after*/

#DIV_19:before {
    color: rgb(49, 49, 49);
    display: table;
    width: 1px;
    content: '';
    border: 0px none rgb(49, 49, 49);
    font: normal normal normal 10px/15px OpenSansRegular, Helvetica, Arial, sans-serif;
    outline: rgb(49, 49, 49) none 0px;
}/*#DIV_19:before*/

#DIV_20 {
    box-sizing: border-box;
    color: rgb(49, 49, 49);
    height: 63px;
    max-width: 1150px;
    min-width: 768px;
    width: 1150px;
    border: 0px none rgb(49, 49, 49);
    font: normal normal normal 10px/15px OpenSansRegular, Helvetica, Arial, sans-serif;
    margin: 0px 100.5px;
    outline: rgb(49, 49, 49) none 0px;
    padding: 0px 80px;
}/*#DIV_20*/

#DIV_20:after {
    clear: both;
    color: rgb(49, 49, 49);
    display: table;
    width: 1px;
    content: '';
    border: 0px none rgb(49, 49, 49);
    font: normal normal normal 10px/15px OpenSansRegular, Helvetica, Arial, sans-serif;
    outline: rgb(49, 49, 49) none 0px;
}/*#DIV_20:after*/

#DIV_20:before {
    color: rgb(49, 49, 49);
    display: table;
    width: 1px;
    content: '';
    border: 0px none rgb(49, 49, 49);
    font: normal normal normal 10px/15px OpenSansRegular, Helvetica, Arial, sans-serif;
    outline: rgb(49, 49, 49) none 0px;
}/*#DIV_20:before*/

#DIV_21 {
    box-sizing: border-box;
    color: rgb(49, 49, 49);
    display: none;
    float: left;
    height: auto;
    width: 50%;
    border: 0px none rgb(49, 49, 49);
    font: normal normal normal 10px/15px OpenSansRegular, Helvetica, Arial, sans-serif;
    margin: 10px auto 0px;
    outline: rgb(49, 49, 49) none 0px;
}/*#DIV_21*/

#DIV_22 {
    box-sizing: border-box;
    color: rgb(49, 49, 49);
    float: right;
    height: 53px;
    width: 495px;
    border: 0px none rgb(49, 49, 49);
    font: normal normal normal 10px/15px OpenSansRegular, Helvetica, Arial, sans-serif;
    margin: 10px 0px 0px;
    outline: rgb(49, 49, 49) none 0px;
    padding: 0px 0px 0px 58px;
}/*#DIV_22*/

#A_23 {
    background-position: 0px 0px;
    color: rgb(69, 155, 231);
    display: block;
    float: left;
    height: 53px;
    opacity: 0.6000000238418579;
    text-decoration: none;
    width: 101px;
    z-index: 0;
    background: rgba(0, 0, 0, 0) url(https://d1740rtcumxhiu.cloudfront.net/assets/logo-sponsor-google-f12f2d2f8498864a02b0ae28420e86f6.png) no-repeat scroll 0px 0px / auto padding-box border-box;
    border: 0px none rgb(69, 155, 231);
    font: normal normal normal 10px/15px OpenSansRegular, Helvetica, Arial, sans-serif;
    margin: 0px 40px 0px 0px;
    outline: rgb(69, 155, 231) none 0px;
    overflow: hidden;
    transition: opacity 0.2s ease-in-out 0s;
}/*#A_23*/

#A_23:before {
    color: rgb(69, 155, 231);
    display: block;
    height: 79.5px;
    text-decoration: none;
    width: 0px;
    content: '';
    border: 0px none rgb(69, 155, 231);
    font: normal normal normal 10px/15px OpenSansRegular, Helvetica, Arial, sans-serif;
    outline: rgb(69, 155, 231) none 0px;
}/*#A_23:before*/

#A_24 {
    background-position: 0px 0px;
    color: rgb(69, 155, 231);
    display: block;
    float: left;
    height: 41px;
    opacity: 0.6000000238418579;
    text-decoration: none;
    width: 140px;
    z-index: 0;
    background: rgba(0, 0, 0, 0) url(https://d1740rtcumxhiu.cloudfront.net/assets/logo-sponsor-cs-172b1516b07729fe7423c22b70ef889d.png) no-repeat scroll 0px 0px / auto padding-box border-box;
    border: 0px none rgb(69, 155, 231);
    font: normal normal normal 10px/15px OpenSansRegular, Helvetica, Arial, sans-serif;
    margin: 2px 0px 0px;
    outline: rgb(69, 155, 231) none 0px;
    overflow: hidden;
    transition: opacity 0.2s ease-in-out 0s;
}/*#A_24*/

#A_24:before {
    color: rgb(69, 155, 231);
    display: block;
    height: 61.5px;
    text-decoration: none;
    width: 0px;
    content: '';
    border: 0px none rgb(69, 155, 231);
    font: normal normal normal 10px/15px OpenSansRegular, Helvetica, Arial, sans-serif;
    outline: rgb(69, 155, 231) none 0px;
}/*#A_24:before*/

#DIV_25 {
    color: rgb(49, 49, 49);
    height: 418px;
    width: 1351px;
    border: 0px none rgb(49, 49, 49);
    font: normal normal normal 10px/15px OpenSansRegular, Helvetica, Arial, sans-serif;
    margin: 20px 0px 40px;
    outline: rgb(49, 49, 49) none 0px;
}/*#DIV_25*/

#DIV_26 {
    box-sizing: border-box;
    color: rgb(49, 49, 49);
    height: 418px;
    max-width: 1150px;
    min-width: 768px;
    width: 1150px;
    border: 0px none rgb(49, 49, 49);
    font: normal normal normal 10px/15px OpenSansRegular, Helvetica, Arial, sans-serif;
    margin: 0px 100.5px;
    outline: rgb(49, 49, 49) none 0px;
    padding: 0px 80px;
}/*#DIV_26*/

#DIV_26:after {
    clear: both;
    color: rgb(49, 49, 49);
    display: table;
    width: 1px;
    content: '';
    border: 0px none rgb(49, 49, 49);
    font: normal normal normal 10px/15px OpenSansRegular, Helvetica, Arial, sans-serif;
    outline: rgb(49, 49, 49) none 0px;
}/*#DIV_26:after*/

#DIV_26:before {
    color: rgb(49, 49, 49);
    display: table;
    width: 1px;
    content: '';
    border: 0px none rgb(49, 49, 49);
    font: normal normal normal 10px/15px OpenSansRegular, Helvetica, Arial, sans-serif;
    outline: rgb(49, 49, 49) none 0px;
}/*#DIV_26:before*/

#DIV_27 {
    box-sizing: border-box;
    color: rgb(49, 49, 49);
    float: left;
    height: 398px;
    min-height: 398px;
    width: 455.390625px;
    border: 1px solid rgb(222, 222, 222);
    font: normal normal normal 10px/15px OpenSansRegular, Helvetica, Arial, sans-serif;
    margin: 0px 0px 20px;
    outline: rgb(49, 49, 49) none 0px;
    padding: 10px 20px;
}/*#DIV_27*/

#H2_28 {
    color: rgb(119, 119, 119);
    height: 30px;
    width: 413.390625px;
    border-top: 0px none rgb(119, 119, 119);
    border-right: 0px none rgb(119, 119, 119);
    border-bottom: 1px solid rgb(222, 222, 222);
    border-left: 0px none rgb(119, 119, 119);
    font: normal normal bold 20px/30px OpenSansLight, Helvetica, Arial, sans-serif;
    margin: 0px -20px;
    outline: rgb(119, 119, 119) none 0px;
    padding: 0px 20px 10px;
}/*#H2_28*/

#OL_29 {
    color: rgb(49, 49, 49);
    height: 267px;
    width: 413.390625px;
    border: 0px none rgb(49, 49, 49);
    font: normal normal normal 10px/15px OpenSansRegular, Helvetica, Arial, sans-serif;
    margin: 0px;
    outline: rgb(49, 49, 49) none 0px;
    padding: 0px;
}/*#OL_29*/

#LI_30, #LI_32, #LI_34, #LI_36, #LI_38, #LI_40 {
    background-position: 0px 6px;
    color: rgb(119, 119, 119);
    height: 21px;
    width: 378.390625px;
    background: rgba(0, 0, 0, 0) url(https://d1740rtcumxhiu.cloudfront.net/assets/icn-next-dacba1098a4e9369351969fe89d51fb5.png) no-repeat scroll 0px 6px / auto padding-box border-box;
    border: 0px none rgb(119, 119, 119);
    font: normal normal normal 14px/21px OpenSansRegular, Helvetica, Arial, sans-serif;
    list-style: none outside none;
    margin: 20px 0px;
    outline: rgb(119, 119, 119) none 0px;
    padding: 0px 0px 0px 35px;
}/*#LI_30, #LI_32, #LI_34, #LI_36, #LI_38, #LI_40*/

#STRONG_31, #STRONG_33, #STRONG_37, #STRONG_41, #STRONG_43 {
    color: rgb(119, 119, 119);
    text-align: left;
    border: 0px none rgb(119, 119, 119);
    font: normal normal bold 14px/normal OpenSansRegular, Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(119, 119, 119) none 0px;
}/*#STRONG_31, #STRONG_33, #STRONG_37, #STRONG_41, #STRONG_43*/

#STRONG_35, #STRONG_39 {
    color: rgb(119, 119, 119);
    text-align: left;
    border: 0px none rgb(119, 119, 119);
    font: normal normal bold 14px/normal OpenSansRegular, Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(119, 119, 119) none 0px;
}/*#STRONG_35, #STRONG_39*/

#LI_42 {
    background-position: 0px 6px;
    color: rgb(119, 119, 119);
    height: 21px;
    width: 378.390625px;
    background: rgba(0, 0, 0, 0) url(https://d1740rtcumxhiu.cloudfront.net/assets/icn-next-dacba1098a4e9369351969fe89d51fb5.png) no-repeat scroll 0px 6px / auto padding-box border-box;
    border: 0px none rgb(119, 119, 119);
    font: normal normal normal 14px/21px OpenSansRegular, Helvetica, Arial, sans-serif;
    list-style: none outside none;
    margin: 20px 0px 10px;
    outline: rgb(119, 119, 119) none 0px;
    padding: 0px 0px 0px 35px;
}/*#LI_42*/

#DIV_44 {
    box-sizing: border-box;
    color: rgb(49, 49, 49);
    float: right;
    height: 397px;
    width: 495px;
    border: 0px none rgb(49, 49, 49);
    font: normal normal normal 10px/15px OpenSansRegular, Helvetica, Arial, sans-serif;
    margin: 0px 0px 20px;
    outline: rgb(49, 49, 49) none 0px;
    padding: 0px 0px 0px 19.796875px;
}/*#DIV_44*/

#UL_45 {
    color: rgb(49, 49, 49);
    height: 97px;
    width: 475.203125px;
    border: 0px none rgb(49, 49, 49);
    font: normal normal normal 10px/15px OpenSansRegular, Helvetica, Arial, sans-serif;
    margin: 0px 0px 20px;
    outline: rgb(49, 49, 49) none 0px;
    padding: 0px;
}/*#UL_45*/

#UL_45:after {
    clear: both;
    color: rgb(49, 49, 49);
    display: table;
    width: 1px;
    content: '';
    border: 0px none rgb(49, 49, 49);
    font: normal normal normal 10px/15px OpenSansRegular, Helvetica, Arial, sans-serif;
    margin: 0px;
    outline: rgb(49, 49, 49) none 0px;
    padding: 0px;
}/*#UL_45:after*/

#UL_45:before {
    color: rgb(49, 49, 49);
    display: table;
    width: 1px;
    content: '';
    border: 0px none rgb(49, 49, 49);
    font: normal normal normal 10px/15px OpenSansRegular, Helvetica, Arial, sans-serif;
    margin: 0px;
    outline: rgb(49, 49, 49) none 0px;
    padding: 0px;
}/*#UL_45:before*/

#LI_46, #LI_49, #LI_52 {
    color: rgb(49, 49, 49);
    float: left;
    height: 97px;
    width: 152.0625px;
    border: 0px none rgb(49, 49, 49);
    font: normal normal normal 10px/15px OpenSansRegular, Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(49, 49, 49) none 0px;
}/*#LI_46, #LI_49, #LI_52*/

#H3_47, #H3_50, #H3_53 {
    color: rgb(85, 85, 85);
    height: 97px;
    text-align: center;
    width: 152.0625px;
    border: 0px none rgb(85, 85, 85);
    font: normal normal bold 52px/62px OpenSansRegular, Helvetica, Arial, sans-serif;
    list-style: none outside none;
    margin: 0px;
    outline: rgb(85, 85, 85) none 0px;
}/*#H3_47, #H3_50, #H3_53*/

#B_48, #B_51 {
    color: rgb(85, 85, 85);
    display: block;
    height: 35px;
    text-align: center;
    width: 152.0625px;
    border: 0px none rgb(85, 85, 85);
    font: normal normal normal 26px/normal OpenSansLight, Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(85, 85, 85) none 0px;
}/*#B_48, #B_51*/

#B_54 {
    color: rgb(85, 85, 85);
    display: block;
    height: 35px;
    text-align: center;
    width: 152.0625px;
    border: 0px none rgb(85, 85, 85);
    font: normal normal normal 26px/normal OpenSansLight, Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(85, 85, 85) none 0px;
}/*#B_54*/

#DIV_55 {
    color: rgb(49, 49, 49);
    height: 258px;
    width: 433.203125px;
    border: 1px solid rgb(222, 222, 222);
    font: normal normal normal 10px/15px OpenSansRegular, Helvetica, Arial, sans-serif;
    outline: rgb(49, 49, 49) none 0px;
    padding: 10px 20px;
}/*#DIV_55*/

#DIV_55:after {
    clear: both;
    color: rgb(49, 49, 49);
    display: table;
    width: 1px;
    content: '';
    border: 0px none rgb(49, 49, 49);
    font: normal normal normal 10px/15px OpenSansRegular, Helvetica, Arial, sans-serif;
    outline: rgb(49, 49, 49) none 0px;
}/*#DIV_55:after*/

#DIV_55:before {
    color: rgb(49, 49, 49);
    display: table;
    width: 1px;
    content: '';
    border: 0px none rgb(49, 49, 49);
    font: normal normal normal 10px/15px OpenSansRegular, Helvetica, Arial, sans-serif;
    outline: rgb(49, 49, 49) none 0px;
}/*#DIV_55:before*/

#H2_56 {
    color: rgb(119, 119, 119);
    height: 30px;
    width: 433.203125px;
    border-top: 0px none rgb(119, 119, 119);
    border-right: 0px none rgb(119, 119, 119);
    border-bottom: 1px solid rgb(222, 222, 222);
    border-left: 0px none rgb(119, 119, 119);
    font: normal normal bold 20px/30px OpenSansLight, Helvetica, Arial, sans-serif;
    margin: 0px -20px 15px;
    outline: rgb(119, 119, 119) none 0px;
    padding: 0px 20px 10px;
}/*#H2_56*/

#DIV_57, #DIV_62, #DIV_67, #DIV_72, #DIV_77, #DIV_82, #DIV_87, #DIV_92 {
    color: rgb(49, 49, 49);
    float: left;
    height: 91px;
    width: 87px;
    border: 0px none rgb(49, 49, 49);
    font: normal normal normal 10px/15px OpenSansRegular, Helvetica, Arial, sans-serif;
    margin: 0px 20px 10px 0px;
    outline: rgb(49, 49, 49) none 0px;
}/*#DIV_57, #DIV_62, #DIV_67, #DIV_72, #DIV_77, #DIV_82, #DIV_87, #DIV_92*/

#DIV_58, #DIV_59, #DIV_63, #DIV_68, #DIV_73, #DIV_78, #DIV_83, #DIV_88, #DIV_93 {
    color: rgb(49, 49, 49);
    width: 87px;
    border: 0px none rgb(49, 49, 49);
    font: normal normal normal 10px/15px OpenSansRegular, Helvetica, Arial, sans-serif;
    outline: rgb(49, 49, 49) none 0px;
}/*#DIV_58, #DIV_59, #DIV_63, #DIV_68, #DIV_73, #DIV_78, #DIV_83, #DIV_88, #DIV_93*/

#NOSCRIPT_60, #NOSCRIPT_65, #NOSCRIPT_70, #NOSCRIPT_75, #NOSCRIPT_80, #NOSCRIPT_85, #NOSCRIPT_90, #NOSCRIPT_95, #SCRIPT_110, #SCRIPT_112, #SCRIPT_114, #SCRIPT_118, #SCRIPT_128, #SCRIPT_138 {
    color: rgb(49, 49, 49);
    border: 0px none rgb(49, 49, 49);
    font: normal normal normal 10px/15px OpenSansRegular, Helvetica, Arial, sans-serif;
    outline: rgb(49, 49, 49) none 0px;
}/*#NOSCRIPT_60, #NOSCRIPT_65, #NOSCRIPT_70, #NOSCRIPT_75, #NOSCRIPT_80, #NOSCRIPT_85, #NOSCRIPT_90, #NOSCRIPT_95, #SCRIPT_110, #SCRIPT_112, #SCRIPT_114, #SCRIPT_118, #SCRIPT_128, #SCRIPT_138*/

#IMG_61, #IMG_66, #IMG_71, #IMG_76, #IMG_81, #IMG_86, #IMG_91, #IMG_96 {
    color: rgb(49, 49, 49);
    height: 75px;
    width: 75px;
    border: 1px solid rgb(222, 222, 222);
    border-radius: 50% 50% 50% 50%;
    font: normal normal normal 10px/15px OpenSansRegular, Helvetica, Arial, sans-serif;
    outline: rgb(49, 49, 49) none 0px;
    padding: 5px;
}/*#IMG_61, #IMG_66, #IMG_71, #IMG_76, #IMG_81, #IMG_86, #IMG_91, #IMG_96*/

#DIV_64, #DIV_69, #DIV_79, #DIV_89 {
    color: rgb(49, 49, 49);
    width: 87px;
    border: 0px none rgb(49, 49, 49);
    font: normal normal normal 10px/15px OpenSansRegular, Helvetica, Arial, sans-serif;
    outline: rgb(49, 49, 49) none 0px;
}/*#DIV_64, #DIV_69, #DIV_79, #DIV_89*/

#DIV_74, #DIV_84 {
    color: rgb(49, 49, 49);
    width: 87px;
    border: 0px none rgb(49, 49, 49);
    font: normal normal normal 10px/15px OpenSansRegular, Helvetica, Arial, sans-serif;
    outline: rgb(49, 49, 49) none 0px;
}/*#DIV_74, #DIV_84*/

#DIV_94 {
    color: rgb(49, 49, 49);
    width: 87px;
    border: 0px none rgb(49, 49, 49);
    font: normal normal normal 10px/15px OpenSansRegular, Helvetica, Arial, sans-serif;
    outline: rgb(49, 49, 49) none 0px;
}/*#DIV_94*/

#DIV_97 {
    color: rgb(49, 49, 49);
    height: 30px;
    text-align: center;
    width: 1341px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    border-top: 1px solid rgb(222, 222, 222);
    border-right: 0px none rgb(49, 49, 49);
    border-bottom: 1px solid rgb(222, 222, 222);
    border-left: 0px none rgb(49, 49, 49);
    font: normal normal normal 10px/15px OpenSansRegular, Helvetica, Arial, sans-serif;
    margin: 20px 0px 0px;
    outline: rgb(49, 49, 49) none 0px;
    padding: 10px 10px 0px 0px;
}/*#DIV_97*/

#DIV_98 {
    box-sizing: border-box;
    color: rgb(49, 49, 49);
    height: 30px;
    max-width: 1150px;
    min-width: 768px;
    text-align: center;
    width: 1150px;
    border: 0px none rgb(49, 49, 49);
    font: normal normal normal 10px/15px OpenSansRegular, Helvetica, Arial, sans-serif;
    margin: 0px 95.5px;
    outline: rgb(49, 49, 49) none 0px;
    padding: 0px 80px;
}/*#DIV_98*/

#DIV_99 {
    color: rgb(49, 49, 49);
    height: 30px;
    text-align: center;
    width: 320px;
    border: 0px none rgb(49, 49, 49);
    font: normal normal normal 10px/15px OpenSansRegular, Helvetica, Arial, sans-serif;
    margin: 0px 335px;
    outline: rgb(49, 49, 49) none 0px;
}/*#DIV_99*/

#A_100 {
    color: rgb(69, 155, 231);
    cursor: pointer;
    display: block;
    float: left;
    height: 24px;
    text-align: center;
    text-decoration: none;
    width: 90px;
    border: 0px none rgb(69, 155, 231);
    font: normal normal normal 10px/15px OpenSansRegular, Helvetica, Arial, sans-serif;
    outline: rgb(69, 155, 231) none 0px;
    padding: 0px 2px;
}/*#A_100*/

#DIV_101 {
    color: rgb(69, 155, 231);
    cursor: pointer;
    display: inline-block;
    height: 20px;
    text-align: center;
    width: 90px;
    border: 0px none rgb(69, 155, 231);
    font: normal normal normal 1px/normal OpenSansRegular, Helvetica, Arial, sans-serif;
    outline: rgb(69, 155, 231) none 0px;
}/*#DIV_101*/

#IFRAME_102 {
    color: rgb(69, 155, 231);
    cursor: pointer;
    height: 20px;
    left: 0px;
    text-align: center;
    top: 0px;
    width: 90px;
    border: 0px none rgb(69, 155, 231);
    font: normal normal normal 1px/normal OpenSansRegular, Helvetica, Arial, sans-serif;
    outline: rgb(69, 155, 231) none 0px;
}/*#IFRAME_102*/

#A_103 {
    color: rgb(69, 155, 231);
    cursor: pointer;
    display: block;
    float: left;
    height: 22px;
    text-align: center;
    text-decoration: none;
    width: 76px;
    border: 0px none rgb(69, 155, 231);
    font: normal normal normal 10px/15px OpenSansRegular, Helvetica, Arial, sans-serif;
    margin: 0px 15px 0px 0px;
    outline: rgb(69, 155, 231) none 0px;
    padding: 0px 2px;
}/*#A_103*/

#DIV_104 {
    color: rgb(69, 155, 231);
    cursor: pointer;
    display: inline-block;
    height: 20px;
    position: relative;
    text-align: center;
    width: 76px;
    border: 0px none rgb(69, 155, 231);
    font: normal normal normal 10px/10px OpenSansRegular, Helvetica, Arial, sans-serif;
    outline: rgb(69, 155, 231) none 0px;
}/*#DIV_104*/

#SPAN_105 {
    color: rgb(69, 155, 231);
    cursor: pointer;
    display: inline-block;
    height: 20px;
    position: relative;
    text-align: justify;
    vertical-align: bottom;
    width: 76px;
    border: 0px none rgb(69, 155, 231);
    font: normal normal normal 10px/10px OpenSansRegular, Helvetica, Arial, sans-serif;
    outline: rgb(69, 155, 231) none 0px;
}/*#SPAN_105*/

#IFRAME_106 {
    color: rgb(69, 155, 231);
    cursor: pointer;
    display: block;
    height: 20px;
    position: absolute;
    text-align: justify;
    width: 76px;
    border: 0px none rgb(69, 155, 231);
    font: normal normal normal 10px/10px OpenSansRegular, Helvetica, Arial, sans-serif;
    outline: rgb(69, 155, 231) none 0px;
}/*#IFRAME_106*/

#A_107 {
    color: rgb(69, 155, 231);
    cursor: pointer;
    display: block;
    float: left;
    height: 24px;
    text-align: center;
    text-decoration: none;
    width: 107px;
    border: 0px none rgb(69, 155, 231);
    font: normal normal normal 10px/15px OpenSansRegular, Helvetica, Arial, sans-serif;
    outline: rgb(69, 155, 231) none 0px;
    padding: 0px 2px;
}/*#A_107*/

#IFRAME_108 {
    color: rgb(69, 155, 231);
    cursor: pointer;
    height: 20px;
    text-align: center;
    width: 107px;
    border: 0px none rgb(69, 155, 231);
    font: normal normal normal 10px/15px OpenSansRegular, Helvetica, Arial, sans-serif;
    outline: rgb(69, 155, 231) none 0px;
}/*#IFRAME_108*/

#DIV_109 {
    clear: both;
    color: rgb(49, 49, 49);
    text-align: center;
    width: 320px;
    border: 0px none rgb(49, 49, 49);
    font: normal normal normal 10px/15px OpenSansRegular, Helvetica, Arial, sans-serif;
    outline: rgb(49, 49, 49) none 0px;
}/*#DIV_109*/

#SCRIPT_111, #SCRIPT_113 {
    color: rgb(49, 49, 49);
    border: 0px none rgb(49, 49, 49);
    font: normal normal normal 10px/15px OpenSansRegular, Helvetica, Arial, sans-serif;
    outline: rgb(49, 49, 49) none 0px;
}/*#SCRIPT_111, #SCRIPT_113*/

#SCRIPT_115 {
    color: rgb(49, 49, 49);
    border: 0px none rgb(49, 49, 49);
    font: normal normal normal 10px/15px OpenSansRegular, Helvetica, Arial, sans-serif;
    outline: rgb(49, 49, 49) none 0px;
}/*#SCRIPT_115*/

#DIV_116 {
    color: rgb(49, 49, 49);
    height: 1px;
    position: absolute;
    visibility: hidden;
    width: 1px;
    z-index: 100000;
    border: 0px none rgb(49, 49, 49);
    font: normal normal normal 10px/15px OpenSansRegular, Helvetica, Arial, sans-serif;
    outline: rgb(49, 49, 49) none 0px;
}/*#DIV_116*/

#IFRAME_117 {
    color: rgb(49, 49, 49);
    display: block;
    height: 1px;
    left: 0px;
    position: absolute;
    top: 0px;
    visibility: hidden;
    width: 1px;
    z-index: 100000;
    border: 0px none rgb(49, 49, 49);
    font: normal normal normal 10px/15px OpenSansRegular, Helvetica, Arial, sans-serif;
    outline: rgb(49, 49, 49) none 0px;
}/*#IFRAME_117*/

#DIV_119 {
    color: rgb(49, 49, 49);
    cursor: col-resize;
    height: 658px;
    position: fixed;
    right: 0px;
    top: 0px;
    z-index: 2147483647;
    background: rgba(0, 0, 0, 0.8) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(49, 49, 49);
    font: normal normal normal 10px/15px OpenSansRegular, Helvetica, Arial, sans-serif;
    outline: rgb(49, 49, 49) none 0px;
}/*#DIV_119*/

#A_120 {
    color: rgb(204, 204, 204);
    display: inline-block;
    height: 24px;
    text-decoration: none;
    width: 13px;
    border: 0px none rgb(204, 204, 204);
    font: normal normal normal 16px/24px OpenSansRegular, Helvetica, Arial, sans-serif;
    outline: rgb(204, 204, 204) none 0px;
    padding: 10px;
}/*#A_120*/

#I_121 {
    background-position: 0px 0px;
    color: rgb(204, 204, 204);
    display: inline-block;
    height: 16px;
    width: 13px;
    background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px / auto padding-box border-box;
    border: 0px none rgb(204, 204, 204);
    font: normal normal normal 16px/normal FontAwesome;
    outline: rgb(204, 204, 204) none 0px;
}/*#I_121*/

#I_121:before {
    color: rgb(204, 204, 204);
    display: inline-block;
    height: 16px;
    speak: none;
    width: 13px;
    content: '';
    border: 0px none rgb(204, 204, 204);
    font: normal normal normal 16px/normal FontAwesome;
    outline: rgb(204, 204, 204) none 0px;
}/*#I_121:before*/

#BR_122 {
    color: rgb(49, 49, 49);
    cursor: col-resize;
    border: 0px none rgb(49, 49, 49);
    font: normal normal normal 10px/15px OpenSansRegular, Helvetica, Arial, sans-serif;
    outline: rgb(49, 49, 49) none 0px;
}/*#BR_122*/

#A_123 {
    color: rgb(204, 204, 204);
    display: inline-block;
    height: 24px;
    text-decoration: none;
    width: 16px;
    border: 0px none rgb(204, 204, 204);
    font: normal normal normal 16px/24px OpenSansRegular, Helvetica, Arial, sans-serif;
    outline: rgb(204, 204, 204) none 0px;
    padding: 10px;
}/*#A_123*/

#I_124 {
    background-position: 0px 0px;
    color: rgb(204, 204, 204);
    display: inline-block;
    height: 16px;
    width: 16px;
    background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px / auto padding-box border-box;
    border: 0px none rgb(204, 204, 204);
    font: normal normal normal 16px/normal FontAwesome;
    outline: rgb(204, 204, 204) none 0px;
}/*#I_124*/

#I_124:before {
    color: rgb(204, 204, 204);
    display: inline-block;
    height: 16px;
    speak: none;
    width: 16px;
    content: '';
    border: 0px none rgb(204, 204, 204);
    font: normal normal normal 16px/normal FontAwesome;
    outline: rgb(204, 204, 204) none 0px;
}/*#I_124:before*/

#FORM_125 {
    color: rgb(49, 49, 49);
    cursor: col-resize;
    border: 0px none rgb(49, 49, 49);
    font: normal normal normal 10px/15px OpenSansRegular, Helvetica, Arial, sans-serif;
    margin: 0px;
    outline: rgb(49, 49, 49) none 0px;
}/*#FORM_125*/

#INPUT_126 {
    bottom: 0px;
    color: rgb(153, 153, 153);
    display: block;
    height: 30px;
    left: 36px;
    position: absolute;
    width: 16px;
    z-index: 1;
    background: rgba(255, 255, 255, 0.901961) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(153, 153, 153);
    margin: 0px;
    outline: rgb(153, 153, 153) none 0px;
    padding: 8px;
}/*#INPUT_126*/

#IFRAME_127 {
    background-position: 50% 50%;
    color: rgb(49, 49, 49);
    display: block;
    height: 658px;
    left: 36px;
    position: absolute;
    top: 0px;
    width: 0px;
    background: rgb(255, 255, 255) none no-repeat scroll 50% 50% / auto padding-box border-box;
    border: 0px none rgb(49, 49, 49);
    font: normal normal normal 10px/15px OpenSansRegular, Helvetica, Arial, sans-serif;
    outline: rgb(49, 49, 49) none 0px;
}/*#IFRAME_127*/

#DIV_129 {
    text-align: left;
    width: 1351px;
    font: normal normal normal 11px/11px 'lucida grande', tahoma, verdana, arial, sans-serif;
}/*#DIV_129*/

#SCRIPT_130, #DIV_132 {
    text-align: left;
    font: normal normal normal 11px/11px 'lucida grande', tahoma, verdana, arial, sans-serif;
}/*#SCRIPT_130, #DIV_132*/

#DIV_131, #DIV_134 {
    position: absolute;
    text-align: left;
    top: -10000px;
    font: normal normal normal 11px/11px 'lucida grande', tahoma, verdana, arial, sans-serif;
    overflow: hidden;
}/*#DIV_131, #DIV_134*/

#IFRAME_133 {
    display: none;
    height: auto;
    text-align: left;
    width: auto;
    border: 0px none rgb(0, 0, 0);
    font: normal normal normal 11px/11px 'lucida grande', tahoma, verdana, arial, sans-serif;
}/*#IFRAME_133*/

#DIV_135 {
    height: 302px;
    text-align: left;
    font: normal normal normal 11px/11px 'lucida grande', tahoma, verdana, arial, sans-serif;
}/*#DIV_135*/

#IFRAME_136, #IFRAME_137 {
    text-align: left;
    border: 0px none rgb(0, 0, 0);
    font: normal normal normal 11px/11px 'lucida grande', tahoma, verdana, arial, sans-serif;
}/*#IFRAME_136, #IFRAME_137*/

#IFRAME_139 {
    color: rgb(49, 49, 49);
    display: block;
    height: 1px;
    position: absolute;
    top: -100px;
    width: 1px;
    border: 0px none rgb(49, 49, 49);
    font: normal normal normal 10px/15px OpenSansRegular, Helvetica, Arial, sans-serif;
    outline: rgb(49, 49, 49) none 0px;
}/*#IFRAME_139*/

