.bouncy-slide-top {
  -webkit-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1);
  /* older webkit */
  -webkit-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  /* easeOutBack */
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1);
  /* older webkit */
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  -moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  -ms-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  -o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  /* custom */
}
/* line 328, ../sass/ng-animation.scss */
.bouncy-slide-top.ng-enter {
  transform: translateY(240px);
  -ms-transform: translateY(240px);
  -webkit-transform: translateY(240px);
  transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  opacity: 0;
}
/* line 334, ../sass/ng-animation.scss */
.bouncy-slide-top.ng-enter-active {
  transform: translateY(0);
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  opacity: 1;
}
/* line 339, ../sass/ng-animation.scss */
.bouncy-slide-top.ng-leave {
  transform: translateY(0);
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  opacity: 1;
}
/* line 345, ../sass/ng-animation.scss */
.bouncy-slide-top.ng-leave-active {
  transform: translateY(240px);
  -ms-transform: translateY(240px);
  -webkit-transform: translateY(240px);
  opacity: 0;
}
/* line 351, ../sass/ng-animation.scss */
.bouncy-slide-top.ng-hide-add {
  transform: translateY(0);
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  opacity: 1;
}
/* line 356, ../sass/ng-animation.scss */
.bouncy-slide-top.ng-hide-add.ng-hide-add-active {
  transform: translateY(240px);
  -ms-transform: translateY(240px);
  -webkit-transform: translateY(240px);
  opacity: 0;
}
/* line 362, ../sass/ng-animation.scss */
.bouncy-slide-top.ng-hide-remove {
  transform: translateY(240px);
  -ms-transform: translateY(240px);
  -webkit-transform: translateY(240px);
  transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  display: block !important;
  opacity: 0;
}
/* line 368, ../sass/ng-animation.scss */
.bouncy-slide-top.ng-hide-remove.ng-hide-remove-active {
  transform: translateY(0);
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  opacity: 1;
}

.logo-img{
    margin-top: -30px;
    width: 200px;
    height: 200px;
}
.headlogo
{
    background-color:#39ADD1;
    color:#FFF;
}

.toggle{
    -webkit-transition: -webkit-transition: linear 1s;
    -moz-transition: linear 1s;
    -ms-transition: linear 1s;
    -o-transition: linear 1s;
    transition: linear 1s;
}

.toggle.ng-enter{
    opacity: 0;
}

.toggle.ng-enter-active{
    opacity: 1;
}

.toggle.ng-leave{
    opacity: 1;
}

.toggle.ng-leave-active{
    opacity: 0;
}