.highlight {
    background-color: #F7F7F9;
    border: 1px solid #E1E1E8;
    border-radius: 4px;
    margin-bottom: 14px;
    padding: 9px 14px;
    }
.ace_editor { height: 200px; font-size: 14px!important; }
.result_box {font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;}
.border_info{
    background-color: #ffffff;
    border: 1px solid #E1E1E8;
    border-radius: 4px;
    margin-bottom: 14px;
    padding: 9px 14px;
    border-top: none;
}