<div class="modal-header">
    <h3>Lỗi!!</h3>
</div>
<div class="modal-body">
    <div class="alert alert-warning">
      <strong>Vui lòng kiểm tra điều kiện ràng buộc!</strong>
      <p>Bạn không thể học bài này vì lý do bạn chưa học qua những bài học ràng buộc trước đó</p>
      <p>Bạn nên:<p>
        <ul>
            <li>Học lại bài trước đó</li>
            <li>Chuyển qua chế độ học ngẫu nhiên</li>
        </ul>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
</div>